[2021-10-20 13:25] manuelbuil opened #1984 "[Release 1.21] - Ubuntu 21.04 & Canal - vxlan failing to route"
Backport of: https://github.com/rancher/rke2/issues/1982

[2021-10-20 13:32] qdupuy opened #1985 "ETCD HA - RKE config file"
Hello,

Is it necessary to put the etcd configuration in the config.yaml file on each rke2 master node?

[2021-10-20 15:10] cloudcafetech opened #1986 "Run kubelet with read only port 10255"
Seems by default RKE2 not support to run kubelet with read only port 10255.

Can you please let me know how I can run Run kubelet with read only port 10255.

[2021-10-20 16:17] #1986 closed, assigned to nobody

[2021-10-20 20:18] brandond commented on #1959
Yeah, that's another issue. We need some way to have the server reliably shoot itself in the head (from the old STONITH fencing metaphor) when it's deleted from the cluster.

[2021-10-20 20:46] brandond opened #1989 "Race condition in the cloud provider"
From https://github.com/k3s-io/k3s/issues/4217:

[2021-10-21 00:31] giovannicandido opened #1992 "Unable to join server in a private network"
**Environmental Info:**
RKE2 Version: rke2 version v1.21.5+rke2r2

Node(s) CPU architecture, OS, and Version:

Linux  5.4.0-89-generic #100-Ubuntu SMP Fri Sep 24 14:50:10 UTC 2021 x86_64 x86
_64 x86_64 GNU/Linux
Cluster Configuration:

3 servers in HA mode

**Describe the bug:**

In a private network, secondary nodes are unable to connect to the first master.
The private network is made with wireg

[2021-10-21 00:46] brandond commented on #1992
If you set `node-external-ip` on a servers, then ports 6443 and 9345 on that IP need to be accessible from all nodes in the cluster, including the node itself. This may require additional firewall rules and/or enabling hairpin/u-turn NAT on your firewall or NAT device.

[2021-10-21 01:10] giovannicandido commented on #1992
Hum.. strange I try several things, but when I open the port 6443 and 9345 in both server 1 and server 2 the join happen.
But I don't want to open that ports though the external interface, I want then to communicate in the private range, if the ip of the server change for any reason the cluster is broken.
I was think that the advertise ip address has the key to do that, but I'm wrong because I set

[2021-10-21 01:12] giovannicandido commented on #1992
In other words it do not respect the "server:" config it keeps trying to connect through the external ip address.

I will keep testing

[2021-10-21 02:22] rosskirkpat opened #1995 "strict mode bug fix for install.ps1"
#### Proposed Changes ####

- fix missing declaration of `$suffix` in install.ps1
- remove the requirement to confirm that the user wants to stop processes/services when running rke2-uninstall.ps1
- simplify logic in rke2-uninstall.ps1
- address use case: if the container feature is not installed, we would previously call `Write-FatalLog` and then reference `$suffix` while it hasn't been set

This

[2021-10-21 02:28] brandond commented on #1995
Mobile mistap, sorry :(

[2021-10-21 04:26] rosskirkpat opened #1996 "[docs] Document tcp/5473 port requirement for Typha"
while deploying rke2 through terraform, this error message was seen on a calico-node pod on a linux worker

The networking setup was:
all nodes ran on the same VPC with a SG that only allowed traffic based on the latest port requirements from rke2 docs
linux cp/etcd on subnet a
linux worker on subnet b

the cp/etcd nodes did not report the tcp timeout.

Once I added a tcp/5473 rule to the security

[2021-10-21 07:33] flokli opened #1997 "Unable to set flannel.backend = wireguard"
**Environmental Info:**
RKE2 Version:
[code]

Node(s) CPU architecture, OS, and Version:
[code]
Cluster Configuration:
3 servers, 3 agents.

**Describe the bug:**
Coming from k3s, and using the `--flannel-backend wireguard` there, I wanted to configure the same in RKE2. I dropped the following file into `root@controlplane-0:~# cat /var/lib/rancher/rke2/server/manifests/rke2-canal-config.yaml` (aft

[2021-10-21 10:43] flokli commented on #1997
Probably not easily doable only via helm chart config at least.

This one would also be nice, as it removes the need to manually install `wireguard-tools`, due to `wgctrl` using netlink under the hood (instead of shelling out to `wg` like the extension one).

[2021-10-21 12:06] flokli commented on #1997
Thanks!

[2021-10-21 12:44] qdupuy opened #1998 "Flannel - iface variable - Could not find valid interface matching"
Hello 🖖

I’ve a small question, on the canal pods I have this error :

[code]

My network configuration was done via netplan on ubuntu.

The iface variable of flannel does not take into account the @ ? 

[2021-10-21 15:00] #1998 closed, assigned to nobody

[2021-10-21 16:32] dereknola commented on #1880
Closing as only a docs change.

[2021-10-21 17:54] #1130 closed

[2021-10-21 20:24] giovannicandido opened #2001 "Uninstall on master take down etcd quorun"
**Is your feature request related to a problem? Please describe.**

When uninstalling rke from a cluster with a quorum the cluster is left in unusable state where nothing works anymore.

Suppose we have a cluster with 3 masters. You clean up two of them with the uninstall script. The master that is left is not usable anymore, the entire cluster is lost.

**Describe the solution you'd like**

When

[2021-10-21 22:09] dereknola opened #2003 "Update Developer Docs Around Stable RPMS"
**Is your feature request related to a problem? Please describe.**
The developer docs are out of date and unclear on how stable and latest RPMS are to be updated. Latest channels no longer need to be updated, and all patch releases must be marked as stable after 24-48h.

[2021-10-21 22:27] mdrahman-suse commented on #1794
@brandond For this specific issue, the tests were scoped to getting minimum requirements for server instance with nothing but an idle control-plane workload. We can test the 2GB/2CPU config with Rancher installed and observe the behavior.

[2021-10-21 23:15] giovannicandido commented on #1992
Update: It only needs port 6443 open in all servers to join.
I'm facing other problems with the VPN, kube-scheduler is not reaching the kubelet api in all servers with erros like;

[code]
Its also in pending state trying to lead elect:

[code]

This is causing instability on the servers with `kubectl get nodes` eventually showing nodes in the **NoReady** state.

`kubectl describe nodes` shows on s

[2021-10-22 07:58] manuelbuil opened #2007 "[Release 1.20] - Ubuntu 21.04 & Canal - vxlan failing to route"
Backport of: #1982

[2021-10-22 07:59] manuelbuil opened #2008 "[Release 1.19] - Ubuntu 21.04 & Canal - vxlan failing to route"
Backport of: #1982

[2021-10-22 14:02] riuvshyn opened #2010 "RKE2 fails to provision 1.19 cluster"
version: `v1.19.15+rke2r2`

provisioning is stuck due to

[code]

I've checked repo https://hub.docker.com/r/rancher/system-agent-installer-rke2/ and seems there are only 1.21 and 1.20 images available

UPD: same happens with 1.20.x
[code]

Versions I tried to use I got from release channels https://update.rke2.io/v1-release/channels

[2021-10-22 17:01] michae1ho11ey opened #2014 "rke2-agent can't connect to an HA management cluster"
**Environmental Info:**
* RKE2 Version: rke2 version v1.21.5+rke2r2
* All nodes are in AWS us-west-2

Node(s) CPU architecture, OS, and Version:
* Agent & Server Nodes (t3.large):
   * 2 vCPU
   * 8 GB of RAM

Cluster Configuration:
* All nodes are running Oracle Linux 8 (essentially RHEL 8)
* Three server node HA configuration (each node is in a different availability zone)
* Trying to connect a

[2021-10-22 18:57] #1970 closed, assigned to brandond, rancher-max

[2021-10-22 23:02] galal-hussein opened #2015 "Update peer address when running cluster-reset"
**Environmental Info:**
rke2 Version: master/v1.21/v1.20/v1.19

Cluster Configuration:
1 node cluster

**Describe the bug:**

When user changes the IP of the node and try cluster-reset to restore the state of the cluster, etcd complains with the following error:
[code]
**Steps To Reproduce:**
- Install rke2
- change the IP of the node
- restart rke2 and run cluster-reset

**Expected behavior:**
Th

[2021-10-22 23:05] galal-hussein opened #2016 "[Release-1.21] - Update peer address when running cluster-reset"
Backport fix for Update peer address when running cluster-reset

* #2015

[2021-10-22 23:05] galal-hussein opened #2017 "[Release-1.20] - Update peer address when running cluster-reset"
Backport fix for Update peer address when running cluster-reset

* #2015

[2021-10-22 23:05] galal-hussein opened #2018 "[Release-1.19] - Update peer address when running cluster-reset"
Backport fix for Update peer address when running cluster-reset

* #2015

[2021-10-23 00:39] rancher-max commented on #1962
This error was sporadic to begin with so it's hard to confirm with 100% certainty that it is fixed, but I validated in approximately 20 clusters and didn't see it happen at all using v1.22.2-rc2+rke2r1

[2021-10-23 00:39] #1962 closed

[2021-10-23 06:33] SebTardif opened #2019 "Would like a way to block undeclared registry in Containerd Registry Configuration"
At https://docs.rke2.io/install/containerd_registry_configuration/ we can see way of configuring the mirrors, the registries for images. I would like a way to block the cluster/rke2/containerd to load images from outside the declared registry in that file. This is valuable for security reasons, and airgap simulation. It's a common best practice in other package management system.

[2021-10-25 06:16] Martin-Weiss opened #2021 "systemctl restart systemd-sysctl i.e. as part of cis-1.6 enablement with cililium CNI breaks outgoing communication of coredns"
Update 27.10.2021 - it is not the rke2-server/rke2-agent restart breaking cilium network communication - it is systemctl restart systemd-sysctl!

**Environmental Info:**
RKE2 Version:  1.20.11-rke2r2

Node(s) CPU architecture, OS, and Version:
SLES 15 SP3 x86_64 within VMware ESXi

Cluster Configuration:
3 server, 4 agents, Cilium as CNI, cis-1.6 profile
non-default CIDR:
cluster-cidr: "172.27.0.0

[2021-10-25 18:24] rancher-max opened #2022 "Need rancher-vsphere and harvester charts to work with 1.22"
From https://github.com/rancher/rke2/issues/1892, we still need to update vsphere and harvester as they will currently be broken on 1.22.
For rancher-vsphere, this is currently blocked by: https://github.com/rancher/rancher/issues/33848

[2021-10-25 22:14] brandond opened #2025 "RKE2 does not ensure that certificates on disk match values from from cluster bootstrap data"
Update K3s to fix **RKE2 does not ensure that certificates on disk match values from from cluster bootstrap data**:
* https://github.com/k3s-io/k3s/issues/4309

[2021-10-25 22:15] brandond opened #2026 "[release-1.21] K3s does not ensure that certificates on disk match values from from cluster bootstrap data"
Update K3s to fix **RKE2 does not ensure that certificates on disk match values from from cluster bootstrap data**:
* https://github.com/k3s-io/k3s/issues/4311
* https://github.com/rancher/rke2/issues/2025

[2021-10-25 22:15] brandond opened #2027 "[release-1.20] RKE2 does not ensure that certificates on disk match values from from cluster bootstrap data"
Update K3s to fix **RKE2 does not ensure that certificates on disk match values from from cluster bootstrap data**:
* https://github.com/k3s-io/k3s/issues/4311
* https://github.com/rancher/rke2/issues/2025

[2021-10-25 23:17] brandond opened #2028 "[release-1.21] missing affinity settings on Deploymentt rke2-coredns-rke2-coredns"
Backport **missing affinity settings on Deploymentt rke2-coredns-rke2-coredns** to branch **release-1.21*
* #1955

[2021-10-26 00:18] #1972 closed, assigned to brandond, rancher-max

[2021-10-26 00:28] #1973 closed, assigned to brandond, rancher-max

[2021-10-26 00:51] #1989 closed, assigned to manuelbuil, rancher-max

[2021-10-26 08:33] xhejtman opened #2034 "Ingress network policy"
Hello,

we are using rke2 1.21.5 for two clusters. One baremetal, one hosted in openstack. The openstack cluster uses openstack octavia load balancer for ingress. The baremetal uses purelb as loadbalancer. Both clusters use the same default network policy (this is default policy from rke2):
[code]

The openstack cluster works as expected, traffic from the loadbalancer is sent to nginx ingress pod

[2021-10-26 16:20] #1955 closed, assigned to brandond, ShylajaDevadiga

[2021-10-26 16:22] #1938 closed, assigned to galal-hussein, ShylajaDevadiga

[2021-10-26 18:16] #1992 closed, assigned to nobody

[2021-10-26 20:19] braunsonm opened #2037 "SIGSEGV creating RKE2 Cluster in Rancher"
**Environmental Info:**
RKE2 Version: 1.21.4+rke2r3

Cluster Configuration:
3 Servers, 2 Agents on Ubuntu 20.04

**Describe the bug:**
Please excuse if this is the wrong location, I'm not sure if this is a bug in Rancher or RKE2. When trying to join nodes together a segmentation fault occurs and the system agent fails

[code]

This code executing seems to do with annotations that are placed on the

[2021-10-26 21:12] #2037 closed, assigned to nobody

[2021-10-26 21:45] cwayne18 opened #2041 "Cut 1.19.16"
**Summary:**
Task covering patch release work.

Dev Complete: 10/23 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.19.16+rke2r1

_To release once have approval from QA:_
- 1.19.16+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PM: Dev and QA team to be notified of the incoming release

[2021-10-26 21:46] cwayne18 opened #2042 "Cut 1.20.12"
**Summary:**
Task covering patch release work.

Dev Complete: 10/23 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.20.12+rke2r1

_To release once have approval from QA:_
- 1.20.12+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PM: Dev and QA team to be notified of the incoming release

[2021-10-26 21:46] cwayne18 opened #2043 "Cut 1.21.6"
**Summary:**
Task covering patch release work.

Dev Complete: 10/23 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.21.6+rke2r1

_To release once have approval from QA:_
- 1.21.6+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PM: Dev and QA team to be notified of the incoming releases

[2021-10-26 23:31] cwayne18 opened #2046 "Cut 1.22.3"
**Summary:**
Task covering patch release work.

Dev Complete: 10/23 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.22.3+rke2r1

_To release once have approval from QA:_
- 1.22.3+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PM: Dev and QA team to be notified of the incoming releases

[2021-10-27 07:26] #2010 closed, assigned to nobody

[2021-10-27 12:16] liyimeng opened #2050 "OpenRC supported?"
It seems rke2 drop openrc supported by purpose.  I am curious why. It seem being lightweight is one of the purposes of rke2, while systemd supported OS normally not, e.g. Official supported OSes in rke2, none are lightweight.

[2021-10-27 13:37] manuelbuil opened #2051 "Update Calico to v3.20.2"
**Is your feature request related to a problem? Please describe.**

rke2 is not shipping the latest v3.20 version

**Describe the solution you'd like**

Move to v3.20.2 version

**Describe alternatives you've considered**

Stay in v3.20.1 but v3.20.2 has some bug fixes: https://docs.projectcalico.org/release-notes/, so rke2'd better move

**Additional context**

[2021-10-27 16:22] #1940 closed, assigned to galal-hussein, ShylajaDevadiga

[2021-10-27 16:37] #2028 closed, assigned to brandond, ShylajaDevadiga

[2021-10-27 17:06] rancherbot opened #2052 "[release-1.20] [Enhancement Request] When invoke `rke2 etcd-snapshot` either check config.yaml for relevant etcd args for me, or add option to check config.yaml"
This is a backport issue for https://github.com/rancher/rke2/issues/1628, automatically created via rancherbot by @dereknola

Original issue description:

**Context:**
When you invoke `rke2 etcd-snapshot` you must also specify any other necessary flags. For example, with s3 you will need to specify the access key, secret key, and bucket minimally. However, this info is likely already stored in the

[2021-10-27 18:20] #2050 closed, assigned to nobody

[2021-10-27 18:57] #1965 closed, assigned to brandond, rancher-max

[2021-10-27 20:59] #1963 closed, assigned to brandond, rancher-max

[2021-10-28 15:23] #1995 closed, assigned to rosskirkpat, mdrahman-suse

[2021-10-28 15:24] #1978 closed, assigned to luthermonson, mdrahman-suse

[2021-10-28 17:39] #2008 closed, assigned to manuelbuil, rancher-max, mdrahman-suse

[2021-10-28 17:39] #1984 closed, assigned to manuelbuil, rancher-max, mdrahman-suse

[2021-10-28 17:45] #2007 closed, assigned to manuelbuil, rancher-max, mdrahman-suse

[2021-10-28 23:47] #2052 closed, assigned to dereknola, ShylajaDevadiga

[2021-10-29 15:24] cloudcafetech opened #2065 "Upgrade RKE2"
Is there any impact on existing cluster when we do RKE2 from one version to another version?

Do I need ETCD restoration after upgradation?

[2021-10-29 19:43] ShylajaDevadiga commented on #2015
Validated following cni's  using v1.22.3-rc1+rke2r1, Cluster was functional after cluster-reset was run with ip change
[code]

[2021-10-29 19:43] #2015 closed

[2021-10-29 19:50] cjellick commented on #1067
When we say we've hardened the images, we mean the following:

- We are not simply mirroring the image from upstream. We are building on top of a hardened and minimalized base image, which is currently UBI.
- For any binaries written in Go, we are recompiling them using ouf FIPS 140-2 compliant build process (outlined here: https://docs.rke2.io/security/fips_support/#use-of-fips-compatible-go-comp

[2021-10-29 19:52] cjellick commented on #1067
@jtravee I think this could go into an FAQ or maybe a new section in the security section.

[2021-10-29 19:53] brandond commented on #2065
Just the control-plane downtime that comes from rolling restarts of the kubelet and static pods.

No, you do not need to reset or restore the etcd cluster. Can I ask why you thought you might?

[2021-10-29 19:54] #2065 closed

[2021-10-29 20:25] ShylajaDevadiga opened #2068 "One Conformance test fails on Centos on rke2 1.22.3 rc"
**Environmental Info:**
RKE2 Version:
v1.22.3-rc1+rke2r1

**Node(s) CPU architecture, OS, and Version:**
Centos 8.2 Hardened and non-hardened
No fails seen on SLES SP2

**Cluster Configuration:**
3 servers 1 agent

**Describe the bug:**
Failed conformance test:
[sig-node] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [LinuxOnly] [NodeConformance] [Conformance]

**Steps To Repr

[2021-10-29 23:59] brandond commented on #2068
[code]

[code]

[2021-10-30 00:21] ShylajaDevadiga commented on #2016
Validated following cni's using v1.21.6-rc1_rke2r1, Cluster was functional after cluster-reset was run with ip change

[code]

[2021-10-30 00:21] #2016 closed

[2021-10-30 00:22] ShylajaDevadiga commented on #2017
Validated default cni using v1.20.12-rc1_rke2r1, Cluster was functional after cluster-reset was run with ip change

[2021-10-30 00:22] #2017 closed

[2021-10-30 03:29] cloudcafetech opened #2069 "Not able to install RKE2 version 1.22"
[code]

[2021-10-30 03:37] brandond commented on #2069
1.22 is only available in the testing channel, as we've not yet put out any releases that have moved past Release Candidate status.

[2021-10-30 03:37] #2069 closed

[2021-10-31 01:34] #892 closed

[2021-10-31 02:29] cloudcafetech opened #2071 "rke2 server service taking long time to start"
- OS

RHEL 8

- Tested RKE2 1.20 on same host ```No issue```

- Uninstall RKE2

```/usr/bin/rke2-uninstall.sh```

-  Install RKE2 1.21

[code]

Not sure what causing ... No issue with RKE2 1.20

[2021-10-31 14:05] #888 closed

[2021-11-01 16:01] dweomer commented on #2068
A `sudo restorecon -vF /etc/hosts` before invoking this test and it works correctly. Some container is relabeling the host's `/etc/hosts`.

[2021-11-01 17:03] ShylajaDevadiga commented on #2018
Validated in default cni rc v1.19.16-rc1+rke1r1. Cluster was functional after cluster-reset was run with ip change

[2021-11-01 17:03] #2018 closed

[2021-11-01 18:38] rancher-max commented on #2068
It looks like the sonobuoy test itself is changing the type in an selinux enforcing system. Performed the following steps:

1. Initially, after installing rke2 via rpm and starting the service, checked `/etc/hosts` on the node:
[code]
2. Applied the pod spec mentioned above and ran the exec commands, which were successful
3. Run sonobuoy v0.54.0 and continuously check the value while it's running:

[2021-11-01 21:06] #910 closed

[2021-11-01 21:36] jackelynoliveira opened #2074 "Unable to initialize a single node cluster with all roles"
**Environmental Info:**
RKE2 Version:
rke2 version v1.21.5+rke2r2 (9e4acdc6018ae74c36523c99af25ab861f3884da)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
Linux server-name 3.10.0-1160.45.1.el7.x86_64 #1 SMP Wed Oct 13 17:20:51 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
1 server, 0 agents

**Describe the bug:**
Unable to initialize a cluster with a single s

[2021-11-01 21:38] dweomer commented on #2068
Recreated on k3s with same containerd

[2021-11-01 21:40] brandond commented on #2074
You cannot set `node-role.kubernetes` labels via the node-label flag; this is an intentional protection put in place by upstream that has been in place since Kubernetes 1.15.   Ref:

* https://github.com/kubernetes/kubernetes/issues/84912

[2021-11-01 21:42] #2074 closed

[2021-11-01 21:51] brandond commented on #2071
Can you confirm that you've got up-to-date container-selinux and rke2-selinux packages installed on this host?

[2021-11-01 21:53] jackelynoliveira commented on #2074
Thank you for your prompt reply, @brandond! I'm still learning k8s and RKE2. Do you have any suggestions on how I could achieve this result (single node cluster, that has all the roles) using RKE2? I've looked the documentation and haven't found any.

[2021-11-01 21:58] brandond commented on #2074
The worker role doesn't really mean anything; roles are in general just made-up labels that apps deployed to the cluster **may** use to decide what runs where.

Just by installing an RKE2 server you'll get a node with `control-plane` and `etcd` roles that is capable of hosting workload pods.  These roles don't determine anything, they're just a handy way for `kubectl get nodes` to show you which n

[2021-11-01 22:02] jackelynoliveira commented on #2074
Oh ok, got it! So I guess this shouldn't be a problem for installing Rancher.
Thank you again for your assistance, @brandond!

[2021-11-01 22:26] dweomer commented on #2068
Minimal repo on k3s 1.22:
[code]

[2021-11-02 01:33] cloudcafetech commented on #2071
[code]

[2021-11-02 03:21] dweomer commented on #2068
CentOS 7:
[code]

[2021-11-02 03:21] Oats87 opened #2076 "Store arbitrary metadata with etcd snapshots"
**Is your feature request related to a problem? Please describe.**
Today, when RKE2 takes `etcd` snapshots, it does not include any metadata with these snapshots. It can be desirable to take etcd snapshots and keep metadata with the snapshots.

**Describe the solution you'd like**
When an etcd snapshot is taken, there should be a method to store additional metadata into the `rke2-etcd-snapshots` c

[2021-11-02 03:41] dweomer commented on #2068
CentOS Stream 8 + containerd v1.5.7 + rke2 v1.21.6+rke2e1:
[code]

[2021-11-02 03:52] dweomer commented on #2068
CentOS Stream 8 / containerd v1.5.7 / rke2 v1.20.12+rke2r1:

[2021-11-02 15:15] cwayne18 opened #2077 "Automate checking/updating charts as part of release process"
When releasing RKE2, we often need to update many of the charts that are pulled into that release.  This will often lead to several issues, such as missing an update (very easy to do).  As part of our release process, we should automate checking for updates to these charts, and pull them in automatically (automatically generate the PR's), so that we can always be up to date, limit our possible vul

[2021-11-02 16:22] brandond commented on #2071
This sounds a lot like https://bugzilla.redhat.com/show_bug.cgi?id=1719067 - can you confirm that all the packages on your host are up to date?

[2021-11-02 16:34] cloudcafetech commented on #2071
Please help me how to check?

[2021-11-03 00:02] cwayne18 opened #2079 "[epic] Kubernetes 1.23 Charts Validation and Image Updates"
We need to validate that all feature charts work with Kubernetes 1.22. We also need to ensure that all the images, both core and for packaged components, are updated. This issue is to track that work.

Related issues:
* https://github.com/rancher/rke2/issues/1026
* https://github.com/rancher/rke2/issues/1714
* https://github.com/rancher/rke2/issues/1839

## Core Functionality

### RKE2 Core
* [ ]

[2021-11-03 00:07] cwayne18 commented on #1459
@sirredbeard is this something the docs team can take on?  It's basically an additional package that needs to be available on the system (this is introduced from upstream containerd)

[2021-11-03 02:41] #890 closed

[2021-11-03 02:41] #920 closed

[2021-11-03 15:21] paul-bormans opened #2080 "rke2-server failing to start; no static pods"
**Environmental Info:**
RKE2 Version:
rke2 version v1.21.5+rke2r1 (881084666b8134df6c3086d4710d458c753f8c38)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
CentOS Linux release 7.9.2009 (Core)
Linux dev2-ctl1m 3.10.0-1160.45.1.el7.x86_64 #1 SMP Wed Oct 13 17:20:51 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
getenforce
Disabled

Cluster Configuration:
The initial bootstrapping is run

[2021-11-03 21:19] cwayne18 opened #2081 "Update developer-docs with new KDM validation process"
We're changing the process around KDM validation, and this should be reflected in the developer docs

[2021-11-03 22:16] ShylajaDevadiga commented on #2068
Validated on rke2 version v1.22.3-rc2+rke2r1, successfully passed conformance tests.

[2021-11-03 22:16] #2068 closed

[2021-11-04 04:15] #911 closed

[2021-11-04 17:11] paul-bormans commented on #2080
Made "some" progress:

Seems that rke2 does make the initial static pod request:

[code]

Also the kubelet is triggered.
[code]

But then no pod is created....

Could anyone give some hints/leads where to look next?

[2021-11-04 17:23] brandond commented on #2080
Have you checked the logs at /var/log/pods?

[2021-11-04 17:45] cwayne18 opened #2083 "RKE2 cluster fails with "temporary kubelet process exited unexpectedly" error"
Issue description:

RKE2 wont run the cluster-reset command and fails with message on image attached
Kubelet failed to initialise
have ran rke2_killall on all nodes
tried the cluster reset command without the snapshot restore for the same result
different messages on different versions

v1.20.10
[code]

v1.21.6
[code]

Business impact:

 customers have developers that cannot work and are down. The

[2021-11-04 17:57] paul-bormans commented on #2080
# ll /var/log/pods/
total 0

[2021-11-04 18:22] rancher-max commented on #1755
When validating this, we should also bring up linux servers/agents and validate the running killall, uninstall, and cluster-reset all continue to function properly

[2021-11-04 18:24] brandond commented on #2080
Can you attach the complete containerd log file? The bit you've included stops at it pulling the image.

[2021-11-04 18:32] paul-bormans commented on #2080
Yes, i noticed those logs as well. I am running in GCP but on IAAS so actually i don't want it to make attempts to capture metadata from gce. This is a development/test environment to create an air-gapped stack.

Give me a minute to capture the containerd logging (i just wiped the VM's... )

[2021-11-04 20:18] brandond commented on #2080
Yes I see that it's pulling the image but unless there's something missing from the logs, as far as I can tell the kubelet doesn't actually ask containerd to run anything for the etcd static pod.

Can you try removing all the kubelet-args from your config file? If that doesn't do it, also try removing the disable-cloud-controller.

[2021-11-04 20:33] brandond commented on #1755
As well as just basic service start/stop behavior.

[2021-11-04 20:36] brandond commented on #1815
The other issue got moved to rancher docs (https://github.com/rancher/docs/issues/3651) and is assigned to @sirredbeard - should we assign this one to him too, or just close it as a dupe?

[2021-11-05 16:16] krp2 commented on #1898
@brandond For some reason suddenly I am seeing below error while restoring etcd snapshot on first master.
Any idea on this?

Command: rke2 server --cluster-reset --cluster-reset-restore-path=/tmp/restore/etcd-snap2021-11-05T033905.db

INFO[0120] Cluster-Http-Server 2021/11/05 15:08:03 http: TLS handshake error from 127.0.0.1:48064: remote error: tls: bad certificate
DEBU[0120] Dial error from load

[2021-11-05 16:24] paul-bormans commented on #2080
@brandond  Do you have any pointers that allow me to better understand the behavior of kubelet when it comes to static pods? I tried to figure out from the codebase (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go) using the log statements as a guide but it's tough.... for instance i try to understand the:
[code]
in relation to etcd not yet started. Is etcd another stat

[2021-11-05 17:36] brandond commented on #1898
You need to include the --token when restoring from backup

[2021-11-05 17:40] brandond commented on #2080
It's supposed to create containers for the static pods immediately, even if the apiserver is unavailable. This is how RKE2 self-hosts etcd and the apiserver; I've never seen it fail to even attempt to create the containers. Is there anything unique about your environment?

[2021-11-05 18:15] paul-bormans commented on #2080
Well it's a corporate/managed environment, for instance i need to run hardened centos images.

One nice thing is that we are running 1.14.6 (vanilla) successfully on the same environment, so i can compare configs. For instance i found  --pod-infra-container-image is pointing to k8s.gcr.io (and without mirror setup that's not going to work) also i found the --resolv-conf used is rke2 generated and

[2021-11-05 19:41] paul-bormans commented on #2080
After enabling containerd debug logging i found:
[code]
And indeed there are no cni's installed in /etc/cni. That's wierd since i expected canal there? What am i missing?

[2021-11-05 20:02] krp2 commented on #1898
@brandond so should we backup token also if we have to restore it on a new cluster? What other things should we backup?

[2021-11-05 21:24] brandond commented on #2080
The CNI is deployed via helm chart, which won't be deployed until after the rest of the control-plane is up. This is fine because all the static and bootstrap pods use hostNetwork, which doesn't require the CNI.

[2021-11-05 21:25] brandond commented on #2080
fwiw pod-infra-container-image is only used for Docker; containerd has its own setting for that which is managed elsewhere.

[2021-11-06 10:52] zaggash commented on #775
This also applies when registering a new downstream RKE cluster through the UI on Rancher 2.6

[2021-11-07 00:14] #851 closed

[2021-11-07 15:20] olljanat commented on #224
@brandond little bit side question but I wonder that is there some specific reason that why RKE2 is using NGINX instead of Traefik? Wouldn't it to be easier for everyone just support one option? (as after all RKE2 reuse a lot of code from K3s)

[2021-11-07 15:23] olljanat commented on #1808
Looks that someone have made PR about it recently https://github.com/coredns/helm/pull/44 so will close this one from here as follow that one.

[2021-11-07 15:23] #1808 closed

[2021-11-08 08:28] ShylajaDevadiga opened #2085 "metrics-server fails to upgrade to latest image while upgrading from v1.21.6+rke2r1 to v1.22.3+rke2r1"
**Environmental Info:**
RKE2 Version:
v1.21.6+rke2r1 upgrade to v1.22.3+rke2r1

Node(s) CPU architecture, OS, and Version:
Ubuntu 20.04
SLES 15 SP 2
Centos8.2

Cluster Configuration:
Single node or multinode cluster

**Describe the bug:**
While upgrading cluster from v1.21.6+rke2r1 to v1.22.3+rke2r1, metrics-server image fails to upgrade.

**Steps To Reproduce:**
Install rke2 v1.21.6+rke2r1 on sin

[2021-11-08 10:08] gbarceloPIB commented on #1845
Is it a _feature_ then? ;)

[2021-11-08 10:26] brandond commented on #2085
@ShylajaDevadiga  I don't see any info on the metrics-server helm chart - can you show info on that? v0.3.6 doesn't support 1.22, which is why the helm chart has been updated to use 0.5.0. I'm curious if the upgrade failed?

[2021-11-08 11:39] gbarceloPIB opened #2086 "Tarball install does not update contents when install path is changed"
**Environmental Info:**
RKE2 Version:

rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:

OpenSuse 15.3 (SLES 15 SP3)

**Describe the bug:**

When tarball install changes to `/opt/rke2` or a custom path is used instead of `/usr/local`, installation fails because a base directory change is not reflected to tarbal

[2021-11-08 13:20] phillipsj commented on #1733
https://github.com/rancher/windows/issues/104

[2021-11-08 13:22] gbarceloPIB commented on #2086
Sorry wrong repo

[2021-11-08 13:22] #2086 closed

[2021-11-08 16:04] ansilh opened #2087 "Need doc update: Note regarding static image path usage"
Putting many images under `/var/lib/rancher/rke2/agent/images` can cause the etcd to timeout during rke service startup and can cause node additions to fail.
We need to put a note in the documentation stating that the path is only intended for bootstrapping clusters and application containers should be using a local registry to download images

[2021-11-08 17:16] ShylajaDevadiga commented on #2085
@brandond I see the chart failed to upgrade. This is on a sles single node instance
[code]

[2021-11-08 17:26] ShylajaDevadiga commented on #2085
Logs from helm pod
[code]

[2021-11-08 17:53] braunsonm opened #2088 "Etcd keeps old node in member list: Unhealthy cluster"
**Environmental Info:**
RKE2 Version: v1.21.5+rke2r2

Node(s) CPU architecture, OS, and Version: Ubuntu 20.04

Cluster Configuration:
3 servers, 2 agents

**Describe the bug:**
I have had a significant amount of pain just trying to join and upgrade nodes in RKE2. When attempting to replace all server nodes, the final node failed to delete in Kubernetes properly resulting in me having to manually r

[2021-11-08 18:27] phillipsj commented on #1733
Notes:

This will require adding the generation of a 2022 image and adding it to the manifest.

[2021-11-08 18:41] brandond commented on #2088
Can you share the RKE2 logs from all three servers at the time you attempt to delete the last original node from the cluster? I'm not aware of any outstanding issues with node deletion. There should not be anything special about this first node that prevents it from being deleted from the cluster.

Just to be clear, when you're deleting old nodes and joining new ones to the cluster, the "new" node

[2021-11-08 19:49] briandowns commented on #2083
We don't quite have enough information to recreate the issue with Docker installed and version 1.21.6.

1. What version of Docker is in use?
2. Provide `ps aux` output.
3. Is kubelet running in the background after running `rke2-killall`?
4. Output from `netstat -tulpn`
5. Do you a system we can ssh into?
6. Operating system specs: distro, version, ram, cpu, disk type and space

[2021-11-08 20:22] brandond commented on #2085
There are multiple issues here.
1. On multi-node clusters, the helm upgrade job may be created by a member of the cluster that hasn't yet been upgraded, and will use an older version of the klipper-helm image that doesn't have the mapkubeapis plugin installed. This will eventually fix itself once the job fails enough times and gets recreated by a helm controller that has already been upgraded.
2.

[2021-11-08 20:26] brandond commented on #2087
This issue has been fixed on recent releases of RKE2. It's still not a great idea to put too much stuff in there, as it WILL delay node startup until all the images are imported, but it will no longer cause etcd member addition to time out.

[2021-11-08 22:38] braunsonm commented on #2088
After repeated attempts I found:
[code]
Being repeated in the logs of the other servers. Rebooting the joining node corrected the issue but why? The certificate is the same as the one that joined the server initially that worked fine and why would a reboot solve the problem?

Correct, in this instance we are just replacing the underlying OS template

[2021-11-09 01:14] brandond commented on #2088
OK so you're not really replacing old nodes with new nodes, you're stopping RKE2, replacing some bit of OS configuration, and then restarting RKE2? What all are you doing to stop and clean up RKE2 installations in between removing it from and readding it to the cluster?

[2021-11-09 01:25] braunsonm commented on #2088
No. The entire VM **is deleted** including all data. The VM is recreated using a template and starts up with the same IP as the VM that was deleted. We follow an immutable infrastructure approach to upgrades including OS updates

[2021-11-09 05:42] ansilh commented on #2087
Thanks, @brandond.
Is it worth noting this as part of best practice?

[2021-11-09 06:24] brandond commented on #2088
Can you try again with the most recent release? The fact that restarting the node after attempting to join it allows it to join successfully makes me suspect something else is going on. Are you by any chance preloading images via airgap tarball?

[2021-11-09 07:11] Martin-Weiss opened #2089 "How to migrate in-tree to out-of-tree VSphere CPI/CSI with RKE2?"
**Environmental Info:**
RKE2 Version: 1.20.12

Node(s) CPU architecture, OS, and Version:
sles 15 sp3

Cluster Configuration:
3 server, 4 agents

**Describe the bug:**
Cluster is deployed with VSPhere (vsphere) in-tree and now this should be changed to out-of-tree (rancher-vsphere)

**Steps To Reproduce:**
This is exactly the question that needs to be answered and documented.

**Expected behavior:

[2021-11-09 09:57] xhejtman opened #2090 "Update runc to v1.0.2 on release-1.20 branch"
Hello,

since few days ago, we run into an issue with rke2 version 1.20.12-rke2r1 with nvidia operator. There is a bug in runc
https://github.com/opencontainers/runc/pull/3129
that prevents container to start if nvidia runtime is used (not sure why). runc 1.0.2 is fixed and works ok. Unfortunately, in 1.20.x versions, there is still runc 1.0.1 version only that is affected by this issue. Could you

[2021-11-09 10:15] paul-bormans commented on #2080
Just discovered that RKE2 started to work after i removed the proxy configuration for the rke2 server.
[code]
Appearently when set; rke2 attempts to reach sites that aren't whitelisted on my setup....

[2021-11-09 12:08] braunsonm commented on #2088
No but we are using a private registry

[2021-11-09 18:13] brandond commented on #2080
Hmm, that's interesting. Can you identify which site block was preventing it from starting up successfully?

[2021-11-09 18:16] bashofmann opened #2091 "[Docs] Add documentation for HTTP proxy configuration"
**Is your feature request related to a problem? Please describe.**
The docs are missing a section on how and where to configure HTTP proxy settings for environments, where you only have connectivity through a proxy.

**Additional context**
Related issues:
* https://github.com/rancher/rke2/issues/517
* https://github.com/rancher/rke2/issues/1834

[2021-11-09 20:19] phillipsj opened #2095 "Consistent use of env vars in scripts."
Environment variables aren't used consistently throughout the scripts directory.

**Is your feature request related to a problem? Please describe.**

In many places rancher is being used instead of $REPO.

**Describe the solution you'd like**

Convert all instances to their respective environment variable.

[2021-11-09 21:05] cwayne18 commented on #1959
We'll still try to squeeze this into 1.22.4, but if we cannot make code freeze (Nov 10th), we do have a workaround for this (@brandond please do correct me if/when I'm wrong) -- Running rke2-killall.sh after deleting the node should work around this issue.

[2021-11-09 21:22] phillipsj opened #2096 "[Release 1.21] Backport Windows Server 2022 support"
This is a backport for updating the pause image to 3.6 to support Windows Server 2022.

[2021-11-09 22:22] brandond commented on #1959
Correct. The current workaround is to either run `rke2-killall.sh` on the node after deleting it from the cluster, or shut down the node entirely. It is the continued presence of the control-plane components in the cluster despite deletion of the node that causes the problem.

[2021-11-09 22:48] sirredbeard commented on #1815
Closed as duplicate of https://github.com/rancher/docs/issues/3651

[2021-11-09 22:48] #1815 closed

[2021-11-10 06:55] shreya-bhatnagar commented on #1242
I am trying to do airgap installation of k3s. I did below steps:
  1.   copied [install.sh script](https://get.k3s.io/) to `/usr/local/bin/`
  2.   copied k3s binary (downloaded from [Assets](https://github.com/k3s-io/k3s/releases/tag/v1.22.3+k3s1)) to `/usr/local/bin`/
  3. ` cd /usr/local/bin/`
  4.  `chmod 770 k3s` - giving executable rights to k3s binary
  5.  placed [airgap-images-amd64.tar](

[2021-11-10 06:59] shreya-bhatnagar opened #2100 "Kube-system pods failing while Airgap installation of k3s."
I am trying to do airgap installation of k3s. I did below steps:
  1.   copied [install.sh script](https://get.k3s.io/) to `/usr/local/bin/`
  2.   copied k3s binary (downloaded from [Assets](https://github.com/k3s-io/k3s/releases/tag/v1.22.3+k3s1)) to `/usr/local/bin`/
  3. ` cd /usr/local/bin/`
  4.  `chmod 770 k3s` - giving executable rights to k3s binary
  5.  placed [airgap-images-amd64.tar](

[2021-11-10 10:20] gitlawr opened #2101 "When agent starts before server, kubelet.kubeconfig connects to server_url instead of 127.0.0.1"
**Environmental Info:**
RKE2 Version:
v1.21.6+rke2r1

Node(s) CPU architecture, OS, and Version:
ubuntu 20.04

**Steps To Reproduce:**

1. create the following config file on server node:
[code]
2. create the following config file on agent node:
[code]
3. Start rke2-agent
4. Wait a minute then start rke2-server

**Result:**
Print the kubelet.kubeconfig on agent node
[code]

**Additional context /

[2021-11-10 10:40] brandond commented on #2100
Your logs indicate that you're running k3s v1.21.5+k3s2, but the images that the logs show being imported from airgap-images-amd64.tar on your node are for a 1.22 release. Please be sure that you're using the k3s binary and airgap images from the same release: https://github.com/k3s-io/k3s/releases/tag/v1.21.5%2Bk3s2

[2021-11-10 10:41] brandond commented on #2100
As noted on the other issue you commented on, the simplest fix may be to just add an init script on your node to run the `ip route add` command every time it starts.

[2021-11-10 15:00] lowmanb commented on #933
I'm attempting to fix this issue on `v1.22.3+rke2r1` using the following HelmChartConfig:

[code]
While the `kubeProxyReplacement` value is set (confirmed by inspecting the cilium ConfigMap), I still get two replicas.

The Cilium 1.10.4 `values.yaml` does contain the [`operator.replicas` value](https://github.com/cilium/cilium/blob/v1.10.4/install/kubernetes/cilium/values.yaml#L1225). Based on [th

[2021-11-10 17:28] brandond commented on #933
Its actually packaged as a subchart of the rke2-cilium chart: https://github.com/rancher/rke2-charts/tree/main/charts/rke2-cilium/rke2-cilium/1.10.404

I'm not quite sure how to pass options to a subchart. @manuelbuil might you know?

[2021-11-10 18:21] manuelbuil commented on #933
Exactly, we are using subchartting to show only the supported variables. However, it is still possible to change all variables. If I remember correctly, the way to do it is by adding cilium to the top hierarchy. Can you test this one:
[code]

[2021-11-10 18:22] mitchellmaler opened #2103 "etcd-snapshot loading config fails with "flag provided but not defined: -profile""
**Environmental Info:**
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
N/A

Cluster Configuration:
N/A

**Describe the bug:**
Running the etcd-snapshot commands throw an error `flag provided but not defined: -profile`.

**Steps To Reproduce:**
Have the profile set in the config file and run the

[2021-11-10 18:34] #2046 closed

[2021-11-10 18:34] #2041 closed

[2021-11-10 18:34] #2042 closed

[2021-11-10 18:34] #2043 closed

[2021-11-10 18:35] brandond commented on #2103
cc @dereknola

etcd-snapshot now loads the config file, but if there are other flags in the config file that aren't valid for the etcd-snapshot command it will barf on them.

[2021-11-10 18:36] cwayne18 opened #2104 "Cut 1.22.4+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 11/10 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.22.4+rke2r1

_To release once have approval from QA:_
- 1.22.4+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releases

[2021-11-10 18:36] cwayne18 opened #2105 "Cut 1.21.7+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 11/10 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.21.7+rke2r1

_To release once have approval from QA:_
- 1.21.7+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releases

[2021-11-10 18:37] cwayne18 opened #2106 "Cut 1.20.13+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 11/10 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.20.13+rke2r1

_To release once have approval from QA:_
- 1.20.13+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releas

[2021-11-10 18:37] cwayne18 opened #2107 "Cut 1.19.17+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 11/10 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.19.17+rke2r1

_To release once have approval from QA:_
- 1.19.17+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releas

[2021-11-10 18:46] brandond commented on #2101
This is because we generate all the kubeconfigs using the proxy's apiserver url. If we haven't connected to the server configured the proxy yet, this returns the fixed registration endpoint instead of the local client loadbalancer port. This is why we instruct users to ensure that the fixed registration endpoint is highly available, instead of just pointing at a single server.

https://github.com/

[2021-11-10 19:03] Oats87 commented on #2103
Ignoring unknown flags can be dangerous, as our current behavior of barfing on unknown flags allows for a user to get more immediate feedback that they have a misconfiguration. If we just ignore unknown flags a user can be misled especially as that is a departure from existing behavior.

[2021-11-10 19:11] pitshou commented on #2103
I have a customer who is hitting this. So, I am checking to see what they have inside of their config file

Incorrect Usage. flag provided but not defined: -node-label

[2021-11-10 19:14] dnoland1 commented on #2103
Assume you can pass the `--config` and choose an alternative config.yaml to workaround this, right?

[2021-11-10 19:19] mitchellmaler commented on #2103
yes there are ways around this. Different config or just passing the args/flags directly to the command.

[2021-11-10 19:21] mitchellmaler commented on #2103
The expected result though is the server config with all the server flags can be used with the etcd-snapshot command.

[2021-11-10 20:18] brandond commented on #2103
I agree that ignoring flags could cause other issues @Oats87 but the current behavior makes the config file non-portable between commands. If you add flags specific to `rke2 server` those will cause `rke2 agent` or `rke2 etcd-snapshot` (and planned future subcommands) to fail. This probably needs a proper design discussion to hash out since there's no easy fix that will satisfy all concerns.

[2021-11-10 21:16] #2107 closed

[2021-11-11 03:47] lowmanb commented on #933
@manuelbuil Your suggestion worked. Thanks!

[2021-11-11 09:28] vadorovsky commented on #2021
After looking at Cilium code, I must say that sysctls set by cilium-agent are quite dynamic, they depend on configuration, so I think it's the best if we just let Cilium do its job with setting them and not modify them.

That means, I think you should remove `systemctl restart systemd-sysctl` from your scripts. Documentation (https://docs.rke2.io/security/hardening_guide/) doesn't say anything abo

[2021-11-11 09:34] Martin-Weiss commented on #2021
I believe the command should be changed to `sysctl --system` instead of `systemctl restart systemd-sysctl` in general.

[2021-11-11 09:36] vadorovsky commented on #2021
Good point.

[2021-11-11 10:49] paul-bormans commented on #2080
Hi, no today i can't there is no logging of it; or i can't access that logging ;-)

[2021-11-11 18:20] sigi4 opened #2114 "http2: client connection lost on nginx ingress installation from 1.21.4 to > 1.21.4"
Hi,

i'm running rke2 in v1.21.4+rke2r1 for a while and was upgrading last week to v1.21.6+something. Unfortunate the nginx ingress helm installation pod broke with the error message:

[code]

I did not understand why it happened and played around, analysed it, could'nt find anything and resettetd the cluster to make sure not the upgrade broke something. The issue stayed.

I then switched to v1.21

[2021-11-11 18:59] brandond commented on #2114
cc @manuelbuil - it sounds like perhaps this might be related to the cilium version bump?

[2021-11-11 19:56] dweomer opened #2115 "[k3s-root] bump to latest k3s-io/k3s-root v0.10.1"
**Is your feature request related to a problem? Please describe.**
The embedded user-land that we ship with k3s has inched forward a bit. The latest k3s-root release, https://github.com/k3s-io/k3s-root/releases/tag/v.0.10.1, includes the most recent security bumps to buildroot, 2021.02.7, at the time of this writing.

**Describe the solution you'd like**
Bump k3s-root to https://github.com/k3s-io/

[2021-11-12 01:49] jingslunt opened #2118 "rke2 agent kubelet-arg problem"
[code]

agent error: root-dir
$ cat /etc/rancher/rke2/config.yaml
[code]
$ /usr/local/bin/rancherd agent --help|grep kubelet-arg
[code]

server  success:  root-dir
#####cat /etc/rancher/rke2/config.yaml
[code]
##### /usr/local/bin/rancherd server --help|grep kubelet-arg
[code]

[2021-11-12 02:02] brandond commented on #2118
You have duplicate keys in your yaml. The correct way to do what you're trying to do is:
[code]

[2021-11-12 08:07] manuelbuil commented on #2114
I'm going to try to reproduce the issue. What OS are you using? Can you check the cilium agent logs? There might be an error that can help understand what is going on

[2021-11-12 08:32] gitlawr commented on #2101
Close as it is expected

[2021-11-12 08:32] #2101 closed

[2021-11-12 16:14] cjellick commented on #1959
@guangbochen @yasker is this a GA blocker?

[2021-11-12 17:05] PhilipSchmid commented on #693
I know it's probably not relevant for you anymore since this issue is quite old, but have you tried to `nslookup www.google.com.` (the actual FQDN - see the `.` at the end) back then?

In my RKE2 setup (`v1.21.6+rke2r1`) I currently have a quite similar issue: Lookups to non-FQDN domains (e.g. `www.google.com`) seem to get a suffix while normal FQDN lookups resolve just fine. That's probably somet

[2021-11-12 19:34] gogbac opened #2119 "Harvester - Kubectl Error - Waited for ... due to client-side throttling, not priority and fairness, request:.."
**Environmental Info:**
RKE2 Version: harvester-v0.3.0-amd64.iso

Node(s) CPU architecture, OS, and Version: Dell PowerEdge XR11 (32Core, 128GB RAM, 2 x 1.5TB SSD)

Cluster Configuration: I was able to install only first node and Kubectl was showing those errors

**Describe the bug:**

UI is not responsive and kubectl gets error messages
 see Error messages examples:
![image](https://user-images.g

[2021-11-12 21:07] gogbac commented on #2119
I have reinstalled the node1, using a single NIC and I got the same errors, see logs attached
[kubectl-debug_singleNIC.log](https://github.com/rancher/rke2/files/7530421/kubectl-debug_singleNIC.log)
[rke2-server_singleNIC.log](https://github.com/rancher/rke2/files/7530422/rke2-server_singleNIC.log)
[containerd_singleNIC.log](https://github.com/rancher/rke2/files/7530423/containerd_singleNIC.log)
,

[2021-11-12 21:24] gogbac commented on #2119
see more logs
[kubectl-debug_singleNIC_morelogs.log](https://github.com/rancher/rke2/files/7530494/kubectl-debug_singleNIC_morelogs.log)

![image](https://user-images.githubusercontent.com/51060150/141536238-ebcf63b8-df18-470b-b629-07fcf91d68be.png)

[2021-11-13 23:42] cloudcafetech opened #2121 "flag provided but not defined: -agent-token"
RKE2 - v1.21.6+rke2r1

- command

```rke2 etcd-snapshot --dir /caas/rk2/etcd-backup/```

- Output

[code]

[2021-11-14 05:10] #915 closed

[2021-11-14 13:37] jingslunt commented on #2118
It works  thx

[2021-11-14 13:37] #2118 closed

[2021-11-14 15:06] sigi4 commented on #2114
Hey,

i'm using plain Ubuntu 20.04 LTS.

For more logs i will need alittle bit of time. Doing this on the side :)

[2021-11-14 19:00] jonaz commented on #879
Still relevant

[2021-11-15 02:10] cloudcafetech opened #2122 "Error from server (BadRequest): the server rejected our request for an unknown reason"
Installed RKE2 Cluster (v1.21.6+rke2r1) with fqdn and trying to access cluster using fqdn and getting error (**Error from server (BadRequest): the server rejected our request for an unknown reason**) ..

**Note**: No error with rancher endpoint (non fqdn)

- Rancher Version - 2.6.1

- Kubectl version - v1.21.6+rke2r1

- RKE2 Version - v1.21.6+rke2r1

- Output

[code]

[code]

- Kubeconfig

[code]

[2021-11-15 18:09] brandond commented on #879
Duplicate of https://github.com/rancher/rke2/issues/1023

[2021-11-15 18:09] #879 closed

[2021-11-15 18:22] brandond commented on #2122
[code]

It looks like you're attempting to user Rancher auth tokens to access the cluster apiserver directly. I don't believe this will work unless you enable Authorized Cluster Endpoint support on the Rancher side, which you didn't mention doing. Rancher normally serves as an authentication proxy for your access to the downstream cluster; the cluster itself has no idea what to do with your Ranche

[2021-11-15 18:39] jonaz commented on #879
Hmm. This was filed before the duplicate?

[2021-11-15 18:46] brandond commented on #2119
Based on the messages, it would appear that the client is throttling itself ("client-side throttling").  You might consider reading through https://kubernetes.io/docs/concepts/cluster-administration/flow-control/. As far as I can tell this is not an issue with RKE2.

[2021-11-15 18:48] brandond commented on #879
#1023 was the issue opened by our Project Manager to track the work. You can follow the links from there to the PRs in which this functionality was added, back in July.

[2021-11-15 20:28] rosskirkpat opened #2124 "[release-1.21] version bumps for 1.21.7 prep"
tracking Version bumps to prep for 1.21.7

[2021-11-15 20:38] rancher-max opened #2125 "Cannot install rke2 on windows via commitid because install script does not add tar file"
**Environmental Info:**
RKE2 Version:

Commitid install, any branch. Validated using master branch commit `12e640bd`

Node(s) CPU architecture, OS, and Version:

Windows 2019

Cluster Configuration:

1 server running on ubuntu, 1 agent on windows datacenter 2019

**Describe the bug:**

Install via commitid fails on the windows agent because it doesn't install the necessary tar file(s) into `/var/l

[2021-11-16 00:32] brandond commented on #2121
Duplicate of https://github.com/rancher/rke2/issues/2103

[2021-11-16 00:32] #2121 closed

[2021-11-16 00:43] cloudcafetech commented on #2121
@brandond
Is there any old version (1.21) I can use which don't have this issue?

[2021-11-16 00:50] cloudcafetech commented on #2122
Its works with 2.5.6 with same type of configuration. I just upgraded Rancher 2.5.9 to 2.61 and created new cluster (production-caas) . on this I am facing this issue.

Not sure where I have to enable ?
In 2.5.9 was it by default enabled ?

[2021-11-16 01:27] dereknola commented on #2103
/backport release-1.21

[2021-11-16 01:28] dereknola commented on #2103
/backport v1.21.7+rke2r1

[2021-11-16 01:31] dereknola commented on #2103
Backport bot broken?

[2021-11-16 01:36] dereknola opened #2129 "[Release-1.21] etcd-snapshot loading config fails with "flag provided but not defined: -profile""
This is a backport issue for #2103

**Environmental Info:**
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
N/A

Cluster Configuration:
N/A

**Describe the bug:**
Running the etcd-snapshot commands throw an error `flag provided but not defined: -profile`.

**Steps To Reproduce:**
Have the profile

[2021-11-16 01:36] dereknola opened #2130 "[Release-1.20] etcd-snapshot loading config fails with "flag provided but not defined: -profile""
This is a backport issue for #2103

**Environmental Info:**
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
N/A

Cluster Configuration:
N/A

**Describe the bug:**
Running the etcd-snapshot commands throw an error `flag provided but not defined: -profile`.

**Steps To Reproduce:**
Have the profile

[2021-11-16 02:14] Oats87 opened #2135 "Support etcd extra-args"
**Is your feature request related to a problem? Please describe.**
RKE2 needs to support etcd extra-args

**Describe the solution you'd like**
Add `--etcd-arg` to RKE2

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-11-16 02:16] Oats87 opened #2137 "[release-1.21] Support etcd extra-args"
Backport of: https://github.com/rancher/rke2/issues/2135

**Is your feature request related to a problem? Please describe.**
RKE2 needs to support etcd extra-args

**Describe the solution you'd like**
Add `--etcd-arg` to RKE2

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-11-16 02:17] Oats87 opened #2138 "[release-1.20] Support etcd extra-args"
Backport of: https://github.com/rancher/rke2/issues/2135

**Is your feature request related to a problem? Please describe.**
RKE2 needs to support etcd extra-args

**Describe the solution you'd like**
Add `--etcd-arg` to RKE2

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-11-16 08:46] brandond commented on #2122
I believe this is a Rancher issue then, not RKE2. Rancher is responsible for pushing the correct auth resourced down into the managed cluster.

[2021-11-16 08:48] brandond commented on #2121
You can go back to the previous release in whatever branch you're using, or wait until the end of the week for the next one.

[2021-11-16 08:52] cloudcafetech commented on #2121
v1.21.5+rke2r1 ? Is this OK

[2021-11-16 08:54] cloudcafetech commented on #2122
Found the issue, it's in our LB. Closing now.

Thanks for your help.

[2021-11-16 08:54] #2122 closed

[2021-11-16 10:21] Martin-Weiss opened #2141 "Changing token / agent-token required for security"
**Is your feature request related to a problem? Please describe.**
During initial deployment we specify tokens / agent-tokens in config.yaml but for security reasons these tokens might need to be changed / updated on a regular basis similar to SSL certificates, encryption keys and passwords.

Is this supported / do we have a documented procedure on how it is supported to change tokens / agent-toke

[2021-11-16 12:43] #2071 closed

[2021-11-16 14:19] vmoutoussamy commented on #1888
why was this issue closed? https://github.com/rancher/rke2/issues/1806 is not mentioning or dealing with doc at all..
Could you please confirm that this will be documented? Please reopen this issue if it's a yes.

[2021-11-16 14:39] Martin-Weiss commented on #1814
Just had to realize that this whole procedure and documentation is incomplete for the agents!

Basically if you want to re-join a re-installed agent as an existing node after the etcd restore - you have to delete the nodes password / the secret in the kube-system namespace.. as the /etc/rancher/node/password can not be recovered easily on a reinstalled node.

-> could we get this also added to the

[2021-11-16 17:19] brandond commented on #2141
We do not currently support changing the server token, as it is used both as a password to join the cluster, and as the passphrase for the bootstrap data. It should be possible to change the agent token though.

[2021-11-16 17:39] brandond commented on #1814
I believe this is covered in https://docs.rke2.io/advanced/#how-agent-node-registration-works

How can we enhance this?

[2021-11-16 21:23] Oats87 opened #2143 "RKE2 unable to run on EL8.5"
**Environmental Info:**
RKE2 Version: `v1.21.6+rke2r1`

Node(s) CPU architecture, OS, and Version:
RHEL 8.5

Cluster Configuration: Not Applicable

**Describe the bug:**
RKE2/Containerd do not work on EL8.5. They worked on EL8.4. Containerd logs are showing
[code]

**Steps To Reproduce:**
Install RKE2 using install script on EL8.5?

**Expected behavior:**
RKE2 works

**Actual behavior:**
RKE2 does

[2021-11-16 21:23] Oats87 commented on #2143
Possibly related to SELinux policy as turning off SELinux makes it start working: https://github.com/rancher/rke2-selinux/issues/24

[2021-11-16 21:27] dweomer commented on #2143
Try with the testing policy? https://github.com/rancher/rke2-selinux/releases/tag/v0.9.testing.1

[2021-11-16 21:30] dweomer commented on #2143
oh, oh. 8.5 is new! i need to update my vagrantry box

[2021-11-16 22:15] Oats87 commented on #2143
I'm currently unable to reproduce this; however, waiting on more details from the reporter tomorrow

[code]

[2021-11-16 23:06] brandond commented on #2143
Is this the same issue as community members have been fighting in https://github.com/rancher/rke2/issues/1539 ?

[2021-11-17 00:38] guangbochen opened #2144 "Support node hard delete method of the RKE2 node"
**Environmental Info:**
RKE2 Version: v1.22.3+rke2r1

**Is your feature request related to a problem? Please describe.**
- delete one of the nodes from the cluster either via kubectl delete node or through the Rancher API
- reboot the deleted node and it will be added to the cluster again
- expecting a node hard delete methodology that it will not join the cluster again after node reboot

RKE2 rel

[2021-11-17 07:21] Martin-Weiss commented on #1814
IMO we need the disaster recovery procedure for agents added here: https://docs.rke2.io/backup_restore/ as someone who wants to do a recovery will not look into "advanced / how-agent-node-registration-works" ;-).

Maybe something like the following could be added to https://docs.rke2.io/backup_restore/ :

In case of a full disaster recovery (lost nodes / new nodes) - after the restore of ETCD on n

[2021-11-17 08:28] jonaz commented on #2143
FYI `yum install https://github.com/rancher/rke2-selinux/releases/tag/v0.9.testing.1` solved this for 3 of our clusters that where autopatched to 8.5 last night.

[2021-11-17 14:21] gtato commented on #1762
So what would be a workaround for this? I added the rule to allow TCP on 10250 on the agent, but no success.

[2021-11-17 16:25] rancher-max commented on #1890
This was validated using releases that are already out for 1 and 2 and commit `12e640bd` for the 3rd issue related to this. Artifacts are now correctly published and available, as can be seen at https://storage.googleapis.com/rke2-ci-builds.

https://github.com/rancher/rke2/issues/2125 was created to address remaining issue with installing via commit.

[2021-11-17 16:25] #1890 closed

[2021-11-17 17:21] gtato opened #2145 "Unable to join a windows node to the cluster due to calico error: operation create not supported on node"
**Environmental Info:**
RKE2 Version:

rke2.exe version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:

64-bit, Microsoft Windows Server 2019 Datacenter, 10.0.17763
Cluster Configuration:

One ubuntu server, one ubuntu agent and trying to add a windows agent.
Used calico as CNI and it worked fine with the ubuntu agent

**

[2021-11-17 18:05] brandond commented on #2145
cc @rosskirkpat @luthermonson

[2021-11-18 04:58] #646 closed

[2021-11-18 05:08] rancher-max commented on #2025
#### Validated on master branch commit `a471ffe97934428b19735349cb1eb25023a22f52`

All scenarios in test plan pass, which includes removing a file in tls directory, modifying a file, removing the entire directory, and bringing up all servers at the same time. Note that when removing the directory and removing multiple files from the directory, the `rke2-killall.sh` script should be run BEFORE rest

[2021-11-18 05:08] #2025 closed

[2021-11-18 05:08] rancher-max commented on #2026
#### Validated on release-1.21 branch commit `d2bf179842aed662b58089d5b738c3ab7df798f4`

All scenarios in test plan pass, which includes removing a file in tls directory, modifying a file, removing the entire directory, and bringing up all servers at the same time. Note that when removing the directory and removing multiple files from the directory, the `rke2-killall.sh` script should be run BEFOR

[2021-11-18 05:08] #2026 closed, assigned to brandond, rancher-max

[2021-11-18 05:09] rancher-max commented on #2027
#### Validated on release-1.20 branch commit `f15b23bbac04dc159db6548e2a1679a3fece75c8`

All scenarios in test plan pass, which includes removing a file in tls directory, modifying a file, removing the entire directory, and bringing up all servers at the same time. Note that when removing the directory and removing multiple files from the directory, the `rke2-killall.sh` script should be run BEFOR

[2021-11-18 05:09] #2027 closed

[2021-11-18 15:32] chreniuc commented on #2103
I've encountered the same problem when trying to generate an on-demand snapshot. I'm using: `rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)`.

The error shows up even when I run `help`:

[code]

[code]

The config file for the server contains:

[code]

[2021-11-18 19:45] brandond commented on #2103
yes @chreniuc that's the same issue.

[2021-11-19 00:26] tmitchell opened #2150 "Unable to recover etcd after loss of quorum"
**Environmental Info:**
RKE2 Version:
v1.20.12+rke2r1

Node(s) CPU architecture, OS, and Version:
x86_64 RHEL8

Cluster Configuration:
3 servers, 5 agents

**Describe the bug:**
We had a loss of quorum while doing an upgrade of the servers.  Because we were upgrading using new nodes, we have no snapshot to restore from.  Ran a `systemctl stop rke2-server; rke2 server --cluster-reset` as described

[2021-11-19 00:41] brandond commented on #2150
`2021-11-19 00:13:47.395956 E | etcdmain: error verifying flags, open /var/lib/rancher/rke2/server/db/etcd/config: permission denied. See 'etcd --help'.`

I believe in the past we've seen this when selinux policy denies the pods access to the files. Did your new nodes by any chance have updated selinux/container-selinux packages installed on them?

[2021-11-19 01:17] tmitchell commented on #2150
Indeed.

Before: `container-selinux.noarch                      2:2.164.1-1.module+el8.4.0+11870+8b6f7018   @rhel-8-appstream-rhui-rpms`
After: `container-selinux.noarch                      2:2.167.0-1.module+el8.5.0+12582+56d94c81 @rhel-8-appstream-rhui-rpms`

Why would this crop up only after doing the reset?  When the new nodes joined etcd was happy enough.

[2021-11-19 02:30] brandond commented on #2150
You might try installing the latest rke2-selinux package from https://github.com/rancher/rke2-selinux/releases/tag/v0.9.testing.1

[2021-11-19 05:53] #962 closed

[2021-11-19 08:22] chreniuc opened #2151 "Compress etcd snapshots"
I've activated etcd snapshots and I'm saving them to S3(like it's specified in [these docs](https://docs.rke2.io/backup_restore/)). But I've noticed that those snapshots are not compressed.

For example a snapshot is `20MB`, if I compress it with zip I reduce it to `4.1MB` and if I compress it with `7z`(or `tar.xz`) I get to `2.4MB`(almost 10 times less space used + bandwidth when uploading them t

[2021-11-19 14:27] cloudcafetech opened #2152 "rke2 pod to pod communication not working with different node"
RKE Version v1.21.5+rke2r1
CNI Calico
OS RHEL 8.4

Based on observation, POD in same node its working fine but pod in differnet node not working (communication).

Any pointer ?

[2021-11-19 14:49] manuelbuil commented on #2152
Can you please show us your config?

[2021-11-19 14:56] cloudcafetech commented on #2152
[code]

[2021-11-19 15:06] manuelbuil commented on #2152
Could you check three things:

1 - If you execute `ip a` in each of the nodes, do you see the interface `vxlan.calico`?
2 - Could you paste the output of `kubectl get pods -A -o wide`?
3 - If you are running the cluster in a public cloud (e.g. AWS), can you verify that UDP port 4789 is allowed in the security group of the instances?

[2021-11-19 15:14] brandond commented on #2150
You should install that package as an upgrade, not a new install. Check your rpm flags. I suspect once you get that resolved you'll be able to enable selinux again.

[2021-11-19 15:58] tmitchell commented on #2150
Roger.  Not enough coffee, got the package installed.  It seems I spoke too soon however.

The cluster-reset finally went through, and I proceeded to start things back up, however etcd was still in a non-functional state (unfortunately didn't grab logs).  I tried to run the restore once more and I'm back to the original error with
`etcdmain: error verifying flags, open /var/lib/rancher/rke2/server

[2021-11-19 16:19] manuelbuil commented on #2152
1 - How do you test pod-pod communication across nodes?

2 - When you are in a node, e.g. 172.25.32.191, and execute this `nc -uzv 172.25.32.197 4789` using the IP of another node, do you get `succeeded!` after ~5 seconds?

3 - When you are in a node, can you show me the output of `ip r` and `ip rule`?

[2021-11-19 17:14] cloudcafetech commented on #2152
We have setup of 3 Master  2 infra & 2 apps
                 --------  ----------------
                  MASTER        WORKER

my ingress POD sitting in infra node and apps POD sitting in apps node.
I am getting timeout in ingress pod logs of apps pod

If I schedule apps pod in infra node then no issue.

[code]

[code]

[2021-11-19 18:06] brandond commented on #2150
Is your cluster hardened (running with --profile=X)? Did you re-enable selinux after updating the rke2-selinux package?

[2021-11-19 18:11] brandond commented on #2151
@briandowns @Oats87 this sounds reasonable to me, what do you think?

[2021-11-19 18:17] briandowns commented on #2151
There hasn't been any chat around compression for snapshots so not too sure around timeframe if this feature were to be added but overall, seems reasonable.

[2021-11-19 19:03] braunsonm commented on #2088
This is hard to reproduce, I'll close this..

[2021-11-19 19:03] #2088 closed

[2021-11-19 19:19] rancher-max commented on #1755
This issue mentions the last step as: `Stop-Process rke2`, but this is actually not the correct behavior. In this case, we should do `Stop-Service rke2` (stopping the SERVICE, not the PROCESS), as this is what most Windows Admins will do anyway.

[2021-11-19 21:01] tmitchell commented on #2150
Yes running with CIS 1.5.   Tried with selinux both enforcing and permissive.

[2021-11-20 00:07] brandond commented on #2150
Hmm. You may need to ensure that both rke2-selinux and container-selinux are up to date, and then run a full restorecon on /var/lib/rancher.

Any other ideas @dweomer ?

[2021-11-21 18:13] Boojapho opened #2156 "When running default (open) security profile, seccomp and apparmor changes are blocked"
**Environmental Info:**
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
Linux pi2 5.4.0-90-generic #101-Ubuntu SMP Fri Oct 15 20:00:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
4 servers

**Describe the bug:**
The default Pod Security Policy for wide-open access blocks pods

[2021-11-21 19:40] manuelbuil commented on #2152
Everything seems correct. Let's do one thing, assuming the following:
- debug POD is running on Node pk8wn01
- prometheus-0 or prometheus-msteams are running on pk8in01

Please provide me the output of:
- `sudo ip -details link show vxlan.calico` in pk8wn01
- `sudo ip -details link show vxlan.calico` in pk8in01

And then, I'd like you to execute the following:
- `sudo tcpdump -eni vxlan.calico icm

[2021-11-21 21:29] maxboone opened #2157 "DNS Lookups for cluster-domain (and subdomains) of cluster don't work"
**Environmental Info:**
RKE2 Version:

[code]

Node(s) CPU architecture, OS, and Version:

[code]

Cluster Configuration:

One server (4C/8G) and one agent (4C/16G)

**Describe the bug:**

Lookups to the node's domain / hostname / fqdn and subdomains do not work, they do not receive a response from the two CoreDNS pods.

**Steps To Reproduce:**

- Installed RKE2:

Installed RKE2 using the tarball

[2021-11-21 21:31] maxboone commented on #2157
I _presume_ that this is a misconfiguration for the networking, as I set the `cluster-domain: zone.hostname.tld` and this should probably be something like `zone-hostname-tld` to avoid conflicts.

Nevertheless, I've been struggling with getting this thing running for hours now and am curious about the underlying cause of this issue and wonder if it's related to (the root cause of):
- https://githu

[2021-11-21 22:00] maxboone commented on #2157
Renaming the cluster to `zone-hostname-tld` indeed fixed the DNS-issues, using:
`kubectl edit configmaps -n kube-system cluster-dns`

Still wondering _why_ using the clustername as DNS is bad practice.

[2021-11-21 22:28] manishmaharjan commented on #1883
@manuelbuil , @cwayne18 , Is this still undergoing development or still in the blocked in Development at the moment?
Any estimate for a release in any specific milestone? Thanks!

[2021-11-22 05:48] brandond commented on #2156
Are you suggesting that we should change the default?

[2021-11-22 10:07] manuelbuil commented on #1883
This is blocked by upstream canal: https://github.com/projectcalico/cni-plugin/issues/1177. Once canal supports dual-stack, we will be able to support it in rke2. In the meanwhile, you'll need to use another cni plugin

[2021-11-22 15:07] mdrahman-suse commented on #1755
Tested rke2 using v1.21.6-rc2+rke2r2 and I am not seeing any other services (kube-proxy, kubelet, containerd, etc) other than rke2 getting stopped when I perform `Stop-Service rke2`. Please advice @luthermonson @rosskirkpat
CC: @rancher-max

[2021-11-22 16:45] cjellick commented on #748
@dereknola this does need backported to 1.21, please open a backport issue

[2021-11-22 17:14] dereknola commented on #748
/backport v1.21.7+rke2r1

[2021-11-22 17:16] dereknola opened #2158 "[Release-1.21] Encryption key rotation"
Backport of https://github.com/rancher/rke2/issues/748

[2021-11-22 18:34] brandond commented on #2157
kube-dns creates synthetic records for everything under the cluster-domain. It does not merge them with any records that might exist on your existing DNS server. If you try to set `zone.hostname.tld` as both the cluster domain, and as the hostname for the load-balancer that points at the cluster members, you won't be able to resolve the load-balancer address from within the cluster as it's shadowe

[2021-11-22 18:47] cjellick commented on #2159
@brandond to do the paperwork for traking issues

[2021-11-22 18:48] cjellick commented on #2159
needs 1.21 backport

[2021-11-22 19:16] AshleyDumaine opened #2160 "Allow klipper-helm image version to be overridden"
**Is your feature request related to a problem? Please describe.**
I need to use a custom version of `klipper-helm` (considered a core image since it is found in `rke2-images-core.linux-amd64.txt` for each release) to address a bug, but it doesn't seem possible to override the version being used by RKE2 unlike for other core images like `kube-apiserver`, `kube-scheduler`, `etcd`, and so on: https:

[2021-11-23 05:06] #2157 closed

[2021-11-23 07:05] #974 closed

[2021-11-23 14:44] cloudcafetech commented on #2152
Sorry for late reply.

As I have to fix this issue, I switch to Canal CNI.

Will try to reproduce in different environment and update you.

Thanks.

[2021-11-23 14:48] manuelbuil commented on #2152
Does Canal work?

[2021-11-23 15:05] cloudcafetech commented on #2152
Yes :)

[2021-11-23 15:29] ckehoe opened #2161 "Unable to start RKE2 Windows Agent due to npipe transportation error"
**Environmental Info:**
RKE2 Version:

rke2.exe version v1.21.6+rke2r1 (b915fc9)
go version go1.16.6b7

I have also tried it with rke2 v1.22.3+rle2r1

Node(s) CPU architecture, OS, and Version:

64-bit, Microsoft Windows Server 2019 Standard, 10.0.17763

Cluster Configuration:

One centos 7.9 server, one centos 7.9 agent, and one Windows 2019 Server
Used calico as CNI and was able to join the cent

[2021-11-23 15:39] ckehoe opened #2162 "Runtime image name in windows 1809 image tarball is incorrect"
**Environmental Info:**
RKE2 Version:

rke2.exe version v1.21.6+rke2r1 (b915fc9)
go version go1.16.6b7

I have also tried it with rke2 v1.22.3+rle2r1

Node(s) CPU architecture, OS, and Version:

64-bit, Microsoft Windows Server 2019 Standard, 10.0.17763

Cluster Configuration:

One centos 7.9 server, one centos 7.9 agent, and one Windows 2019 Server
Used calico as CNI and was able to join the cent

[2021-11-23 15:54] cloudcafetech commented on #2152
Issue is related with calico, just wanted to know the cause.

[2021-11-23 21:53] nickgerace commented on #1755
Fleet `v0.3.8-rc2` (now on Rancher `v2.6-head`) contains the Wrangler module bump needed for this issue: https://github.com/rancher/fleet/pull/615

[2021-11-24 01:11] VestigeJ commented on #2138
$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml
[code]

$ sudo /usr/local/bin/rke2 etcd-snapshot
[code]

Snapshot was created in target AWS-S3 bucket and restored to from the AWS-S3 bucket

[2021-11-24 04:21] Rancheroo commented on #2083
1. Docker version
`Client: Docker Engine - Community
 Version:           20.10.11
 API version:       1.41
 Go version:        go1.16.9
 Git commit:        dea9396
 Built:             Thu Nov 18 00:37:06 2021
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Server: Docker Engine - Community
 Engine:
  Version:          20.10.11
  API version:      1.41 (minimum

[2021-11-24 06:11] brandond commented on #2083
FWIW, all nodes run the kubelet; you can see it in the `ps` output.

The error message from the current failure is different than was reported previously. @briandowns I saw this once before at https://github.com/rancher/rke2/issues/1572#issuecomment-894936650 and I wasn't able to root-cause it there, but I suspect it stems from the fact that we don't wait for containerd to finish starting up befor

[2021-11-24 11:26] gtato commented on #2091
@bashofmann Hi, do you know how we can configure the http proxy for windows agents?

[2021-11-24 11:36] gtato commented on #1834
@brandond Is there a way to configure the http proxy on windows before the rke2 agent starts? It doesn't seem to take into account the system proxy.

[2021-11-24 14:03] mdrahman-suse commented on #1755
After debugging with @luthermonson, we came to conclusion that there are some additional code changes requires for this to fully work and it is working better than before and satisfies the scope of this issue. New issue will be raised and tracked for the additional work. At the time of testing this ticket it was observed that `Stop-Service rke2` stops most of the services used by rke2, except for

[2021-11-24 16:06] mdrahman-suse commented on #2085
Verified in rke2 on Master commit e9e8de011e5f989d9a0a879243808a29e8966b64 on single node cluster

Steps:
- Install rke2 v1.21.6-rc2+rke2r2
- Verify the cluster is up and running
- Upgrade rke2 to commit e9e8de011e5f989d9a0a879243808a29e8966b64 and restart rke2
- Verify metrics server is up and running
[code]
- Verify helm pod is upgraded
[code]

[2021-11-24 17:35] brandond commented on #1834
It should honor the proxy environment variables on Windows, same as it does on Linux. I would not expect it to honor the Windows system proxy settings.

[2021-11-24 18:29] yasker commented on #2144
Set to the same milestone as https://github.com/k3s-io/k3s/issues/4023

[2021-11-24 18:38] yasker commented on #1959
According to @brandond , this will land in `v1.21` release as well.

[2021-11-24 21:33] alefr opened #2167 "Private registry documentation"
Hi,

I'm currently evaluating a move from RKE1 to RKE2 and got stuck on private registries.
After a while I got things rolling but I have a question regarding the documentation.

If I look at the documentation it couples `config` settings to mirror `endpoints`, e.g. as in: https://github.com/rancher/rke2/blob/master/docs/install/containerd_registry_configuration.md?plain=1#L110

I didn't get this

[2021-11-24 21:35] VestigeJ commented on #2138
Validated with the following configs and output:

$ rke2 -v
[code]

INSTALL COMMAND

$ sudo cat /var/lib/rancher/rke2/server/db/etcd/config
[code]

$ sudo /usr/local/bin/rke2 etcd-snapshot
[code]

$ sudo journalctl -xe | grep rke2
`
Nov 24 21:09:01 ip-172-31-26-80.us-north-9.compute.internal sudo[1630]:   centos : TTY=pts/1 ; PWD=/home/centos ; USER=sudo ; COMMAND=/usr/local/bin/rke2 server --debu

[2021-11-24 21:39] brandond commented on #2167
Keys for `mirrors` sections are the registries themselves - docker.io, k8s.gcr.io, etc. For each registry you can override the endpoints.

Keys for the `configs` sections are endpoints - the `host:port` portion of the endpoint URL.

In the example, we are configuring containerd to use a local registry endpoint at `registry.example.com:5000` instead of pulling directly from Docker Hub, and are prov

[2021-11-24 23:27] deniseschannon opened #2168 "[release-1.21] Update vsphere CSI/CPI charts to the latest charts"
**Is your feature request related to a problem? Please describe.**

vsphere CPI/CSI charts have been updated to correspond with k8s releases and the charts in the Rancher repo have been updated accordingly

**Describe the solution you'd like**

Here are the Rancher charts to use for k8s 1.21:

vSphere CPI: https://github.com/rancher/charts/tree/release-v2.6/charts/rancher-vsphere-cpi/rancher-vsphe

[2021-11-25 08:13] alefr commented on #2167
Thank you for the reply @brandond

I understood how the mapping was setup. I just took it as an example as I referenced the documentation, it's now what we're actually using.

So our problem was that we didn't get it working with using the `host:port` for the `configs`.
When changing to the `registry` instead, it started working.

This goes inline with the linked `containerd` documentation which a

[2021-11-25 16:06] Maha-ALSAYASNEH opened #2172 "Unable to join a windows node to the cluster due to "calico chart was not found""
**Environmental Info:**
RKE2 Version:
version v1.21.6+rke2r1

Node(s) CPU architecture, OS, and Version:
64-bit, Microsoft Windows Server 2019 Datacenter, 10.0.17763

Cluster Configuration:
1 Ubuntu 20.04 server, 2 Windows Server 2019 agents.

**Describe the bug:**

**Steps To Reproduce:**
Following the guide here https://docs.rke2.io/install/quickstart/

- Installed RKE2:

**Expected behavior:**

[2021-11-26 15:05] yasker commented on #2144
Keep it open to fix from RKE2 side, instead of using workaround on Harvester.

[2021-11-26 15:52] sylvainOL opened #2173 "Prometheus operator installation makes DNS service to be unreachable"
**Environmental Info:**

***RKE2 Version:***
[code]

***Node(s) CPU architecture, OS, and Version:***

same for all (also tested with centos 8 and ubuntu 20.04) :
[code]

Cluster Configuration:
7 servers (on VM):
* 1 "control" (8 CPU / 8G Ram)
* 6 agent (16 CPU / 32G Ram)

**Describe the bug:**

When rke2 is deployed without any hardening, installation of prometheus-operator makes DNS resolution (

[2021-11-26 15:53] sylvainOL commented on #2173
I know this is a weird issue and I'm more reaching for help to troubleshoot than something else

I tried to look at iptables rules created but nothing seemed weird for me

[2021-11-26 17:33] aintbrokedontfix opened #2174 "RKE2 Pods "nfs-client-provisioner-" is forbidden: PodSecurityPolicy: unable to admit pod: []:Deployment does not have minimum availability"
The following error appears when deploying the[ nfs-subdir-external-provisioner ](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner).

The RKE2 (v1.21.6+rke2r1) cluster is deployed with Default Pod Security Policy set to unrestricted, project network isolation is disabled, SELinux is disabled and no CIS profile is being enforced.

[2021-11-28 13:13] sigi4 commented on #2114
Hi,

i'm not seeing some particual clear error on the cilium agent.

Just random things which do not indicate an issue:
'level=info msg="Auto-disabling \"enable-node-port\", \"enable-external-ips\", \"enable-host-reachable-services\", \"enable-host-port\", \"enable-session-affinity\" features and falling back to \"enable-host-legacy-routing\"" subsys=daemon`

'level=warning msg="Failed to send pol

[2021-11-28 13:30] sigi4 commented on #2114
I downgraded the one ctrl back to 1.21.4 and nginx ingress was fixed.

Any thoughts on what i should check?

[2021-11-29 13:18] Martin-Weiss commented on #1814
FYI - one more learning from today! In case of a restore of etcd during a full cluster recovery - on the first master where we restore the etcd backup we have to comment out the "server:" line in config.yaml as otherwise the restore will not happen!
-> could we get this added to the documentation, too?

[2021-11-29 13:50] guangbochen opened #2175 "[bug] rke2-coredns-rke2-coredns-autoscaler timeout after cluster reboot"
**Environmental Info:**
RKE2 Version: v1.21.5+rke2r1

Node(s) CPU architecture, OS, and Version:
A cluster with 3 server nodes, openSUSE Leap 15.3

**Describe the bug:**
- reboot all off 3 server node together and the `rke2-coredns-rke2-coredns-autoscaler-7c58bd5b6c-n8qwj` pod is failed to start with the following errors:

[code]

**Expected behavior:**
the `rke2-coredns-rke2-coredns-autoscaler` s

[2021-11-29 16:53] VestigeJ commented on #2137
Validated with the following configs and outputs.
$ rke2 -v
[code]

_**INSTALL COMMAND**_
`$ sudo /usr/local/bin/rke2 server --debug --etcd-arg quota-backend-bytes=858993459 --etcd-arg "experimental-initial-corrupt-check=true" --etcd-arg "log-rotation-config-json={"maxsize": 100, "maxage": 0, "maxbackups": 0, "localtime": false, "compress": false}" --etcd-arg "log-outputs=[default]"`

$ sudo cat /

[2021-11-29 17:32] ShylajaDevadiga opened #2176 "rke2 service needs to be restarted for etcd-arg params to be captured in rke2 logs"
**Environmental Info:**
RKE2 Version:
rke2 version v1.22.3-dev+8fe46e71

Node(s) CPU architecture, OS, and Version:
Any OS

Cluster Configuration:
Single node/Multi node

**Describe the bug:**
When etcd-arg is passed in the config, the params are not captured in rke2 logs unless rke2 service is restarted

**Steps To Reproduce:**
[code]

**Expected behavior:**
rke2 logs should have an entry for the

[2021-11-29 17:50] ShylajaDevadiga commented on #2135
Validated in rke2 version v1.22.3-dev+8fe46e71 using commit.
Note: rke2 server needs to be restarted for rke2 logs to capture etcd logs fully. #2176
[code]

[2021-11-29 21:48] brandond opened #2178 "[release-1.20] Update vsphere CSI/CPI charts to the latest charts"
Backport **Update vsphere CSI/CPI charts to the latest charts** to branch **release-1.20**:
* #2168

[2021-11-29 22:05] brandond commented on #2175
It's unclear to me what condition it's waiting for. It appears to me that the deployment is already scaled to the correct number of replicas, since there are two pods - but the logs don't say what it's trying to scale to, and you haven't included the output of `kubectl get deployment -n kube-system` that would confirm the deployment status. Can you show that output?

[2021-11-29 23:03] brandond commented on #2174
Can you fill out the issue template? This provides important information on your cluster version, configured, and nodes. It would also be helpful to provide the output of `kubectl get node - yaml` and the full logs of wherever you're seeing this error.

[2021-11-29 23:05] brandond commented on #2172
Did you build your cluster with the calico CNI? The quickstart does NOT cover building Windows clusters; for that you should see: https://docs.rke2.io/install/requirements/#windows

[2021-11-29 23:23] brandond commented on #2167
As I said earlier:

With the caveat that, if you're not including the port in the registry endpoint (ie, using the default http or https port), you don't need to include the port in the config section either.

You have a full URL here, which is what I said wouldn't work. It's not working. I'm not sure what the source of the confusion is?

[2021-11-30 00:04] Rancheroo commented on #2083
Recreated the error again, this time additional messages as i waited a little longer
[code]

[2021-11-30 00:10] Rancheroo commented on #2083
i tried the cluster reset one more time after waiting 10 minutes and it seemed to work
[code]

[2021-11-30 03:23] guangbochen commented on #2175
yep, the deployment replicas of the `rke2-coredns-rke2-coredns` is showing as expected
[code]
[code]

[2021-11-30 08:37] brandond commented on #2175
From a quick look at the code, it appears to just be timing out waiting for the node list cache to populate:
https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/blob/1.8.5/pkg/autoscaler/k8sclient/k8sclient.go#L172

This suggests that the pod can't talk to the apiserver for some reason, but clearly other things that would also want to talk to the apiserver (like coredns) are working

[2021-11-30 09:24] guangbochen commented on #2175
what's the upcoming release version of the RKE2 we are referring in here? e.g, the `v1.21.6-rc2+rke2r2` or `v1.22.x`? thanks

[2021-11-30 09:53] brandond commented on #2175
v1.21.7, which should have an RC available tomorrow.

[2021-11-30 10:00] alefr commented on #2167
I don't see a reason to take this any further so I'll close it, but just to shed some light on some of the questions (and maybe clarifying the source of confusion and my reason for writing).

I'm not sure if I'm interpreting you correctly, but we're not including the port in neither the endpoint or the config. I'm using the "default" in both cases and expect them to match but doesn't seem like it

[2021-11-30 10:00] #2167 closed

[2021-11-30 13:45] Martin-Weiss opened #2184 "Upgrading RKE2 with system-upgrade-controller causes downtime in nginx-ingress"
**Environmental Info:**
RKE2 Version:  1.20.8 - upgrade to 1.20.11

Node(s) CPU architecture, OS, and Version:
Intel x86_64, SLES 15 SP2

Cluster Configuration:
3 servers, no agents, rancher local cluster and rancher downstream cluster

**Describe the bug:**
Changing the version in the Rancher UI from 1.20.8 to 1.20.12 -> system-upgrade-controller based upgrade starts.
During the upgrade we end up

[2021-11-30 15:28] #1021 closed

[2021-11-30 15:31] cloudcafetech commented on #2152
Did not get a chance to replicate in new environment. Coming week planning to deploy same RHEL8, will update you.

[2021-11-30 15:44] manuelbuil commented on #2152
awesome!

[2021-11-30 16:27] sirredbeard opened #2185 "CoreDNS is being incorrectly deployed on Windows nodes"
This is cross-reference of the issue initially reported here: https://github.com/rancher/rancher/issues/35681

Something is causing workloads to be deployed incorrectly.

Proposed solution is to add nodeAffinity to schedule on Linux: https://github.com/rancher/rancher/issues/35681#issuecomment-982177709

Previously did nodeSelector: https://github.com/rancher/rke2-charts/commit/550851f5b48ac7f500d

[2021-11-30 16:27] ShylajaDevadiga commented on #2137
Adding related issue for tracking purpose https://github.com/rancher/rke2/issues/2176

[2021-11-30 16:27] #2137 closed

[2021-11-30 17:25] ckehoe commented on #2161
I believe the issue is that `npipe:////./pipe/containerd-containerd` is being passed as the address to ctr.exe which invalid. I copied containerd.exe, crictl.exe, and ctr.exe from `c:\var\lib\rancher\rke2\data\{version}\bin` to my `c:\` drive and ran the following:

[code]
Everything looks good and crictl is able to connect to containerd using the npipe:// address. Then I tried the same address fo

[2021-11-30 17:38] dereknola opened #2186 "Backport Bot No Longer Works"
**Describe the bug:**

RKE2 Backport bot appears to be broken. It used to work like https://github.com/rancher/rke2/issues/1628#issuecomment-938220100, but no longer works as of https://github.com/rancher/rke2/issues/2103#issuecomment-969620258

**Steps To Reproduce:**

- Try and use `/backport <VERSION>` in comment on issue

**Expected behavior:**

Backport bot creates a new issue

**Actual behav

[2021-11-30 19:49] brandond commented on #2184
The pods stuck terminating is an upstream issue that we've been battling for a while:
https://github.com/kubernetes/kubernetes/issues/70044#issuecomment-853517954

[2021-11-30 21:47] jtravee commented on #1996
@manuelbuil, could you review this and advise what the ports should be on each CNI that we support? I can then update in the inbound rules table- https://docs.rke2.io/install/requirements/#networking.

[2021-11-30 22:11] briandowns opened #2188 "Revert Calico Bump From 3.20 Back to 3.19"
Calico had been updated to 3.20 in the release-1.21 branch accidentally.

[2021-11-30 22:52] VestigeJ commented on #2130
### **_Issue validated_**
RKE2 skipped over unknown flags inside of the config.yaml, etcd snapshot correctly uploaded to an S3 bucket.

$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml

[code]

$  sudo /usr/local/bin/rke2 etcd-snapshot

[code]

[2021-11-30 23:23] VestigeJ commented on #2103
### **_Issue validated_**
RKE2 skipped over unknown flags inside of the config.yaml, etcd-snapshot correctly uploaded to an S3 bucket.

$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml

[code]

$  sudo /usr/local/bin/rke2 etcd-snapshot

[code]

[2021-11-30 23:26] VestigeJ commented on #2129
### **_Issue validated_**
RKE2 skipped over unknown flags inside of the config.yaml, etcd-snapshot correctly uploaded to an S3 bucket.

$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml

[code]

$  sudo /usr/local/bin/rke2 etcd-snapshot

[code]

[2021-11-30 23:28] rancher-max opened #2190 "[release-1.20] Support NodeLocal DNSCache"
Backport https://github.com/rancher/rke2/issues/1024 into 1.20

[2021-11-30 23:28] rancher-max commented on #2190
Validated following the same steps mentioned in https://github.com/rancher/rke2/issues/1024#issuecomment-926086367 using v1.20.13-rc1+rke2r1

[2021-11-30 23:28] #2190 closed

[2021-11-30 23:30] rancher-max commented on #2190
https://github.com/rancher/rke2/pull/2170

[2021-11-30 23:49] VestigeJ opened #2191 "[Release-1.22] etcd-snapshot loading config fails with "flag provided but not defined: -profile""
This is a backport issue for #2103

Environmental Info:
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc9)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
N/A

Cluster Configuration:
N/A

Describe the bug:
Running the etcd-snapshot commands throw an error flag provided but not defined: -profile.

Steps To Reproduce:
Have the profile set in the config file and run the etcd-snapsh

[2021-11-30 23:54] VestigeJ commented on #2191
### **_Issue validated_**
RKE2 skipped over unknown flags inside of the config.yaml, etcd snapshot correctly uploaded to an S3 bucket.

$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml

[code]

$  sudo /usr/local/bin/rke2 etcd-snapshot

[code]

[2021-11-30 23:54] #2191 closed

[2021-12-01 00:48] VestigeJ commented on #2103
Validated a fix across all RKE2 Release Candidates

https://github.com/rancher/rke2/issues/2130 [rke2 version v1.20.13-rc1+rke2r1]
https://github.com/rancher/rke2/issues/2129 [rke2 version v1.21.7-rc2+rke2r1]
https://github.com/rancher/rke2/issues/2191 [rke2 version v1.22.4-rc1+rke2r1]

[2021-12-01 01:18] #2129 closed

[2021-12-01 01:18] #2103 closed

[2021-12-01 01:21] #2138 closed

[2021-12-01 03:49] zuocg opened #2192 "RKE2 deployment k8s component time zone problem"
**Environmental Info:**
RKE2 Version:  v1.21.6+rke2r1

Describe the bug: Configure kube-apiserver-extra-mount parameters, service startup error

**Steps To Reproduce:**

- /etc/rancher/rke2/config.yaml:
kube-apiserver-extra-mount:
    - "/etc/localtime:/etc/localtime:ro"
kube-scheduler-extra-mount:
    - "/etc/localtime:/etc/localtime:ro"
kube-controller-manager-extra-mount:
    - "/etc/localtime:

[2021-12-01 04:43] #1003 closed

[2021-12-01 05:41] zuocg commented on #2192
Reset the mount etc directory and the container time zone bit CST
kube-apiserver-extra-mount: /etc:/etc:ro

[2021-12-01 05:42] zuocg commented on #2192
Why does setting the mount file cause the service to fail to start

[2021-12-01 06:18] Martin-Weiss commented on #2184
Seems that we have to fix/work around this bug in the rke2 upgrade process as long as the k8s issue exists as all upgrades can / will cause downtime as long as this issue exists.

I believe a workaround should be added to the way how Rancher uses the system-upgrade-controller / maybe also in the upgrade image by adding health checks.

I assume the upgrade procedure must stop automatically in case

[2021-12-01 08:16] brandond commented on #2192
If you're just trying to change the timezone, setting the TZ environment variable in the pods might be an easier way to do that.

[2021-12-01 13:22] janlauber commented on #1676
Same for me, please add this request to your roadmap.

[2021-12-01 16:20] rancher-max opened #2193 "[Docs] Add new etcd-arg to server arguments"
Need to include this new visible flag in our available server-args docs

[2021-12-01 17:33] rancher-max opened #2194 "[Unreleased Bug] [master] Cannot create cluster in CIS mode"
The profile flag is being ignored due to changes made for https://github.com/rancher/rke2/issues/2103, which prevents running rke2 in CIS mode with this flag.

Logs from a node:
[code]

Example of problems this causes:
https://docs.rke2.io/security/cis_self_assessment15/#1112
[code]

[2021-12-01 17:34] rancher-max opened #2195 "[Unreleased Bug] [release-1.21] Cannot create cluster in CIS mode"
Backport https://github.com/rancher/rke2/issues/2194

[2021-12-01 17:35] rancher-max opened #2196 "[Unreleased Bug] [release-1.20] Cannot create cluster in CIS mode"
Backport https://github.com/rancher/rke2/issues/2194

[2021-12-01 18:23] ckehoe commented on #2161
@phillipsj Any ideas since you worked the previous issue?

[2021-12-01 18:51] phillipsj commented on #2161
@ckehoe I will dig into this issue. The last time this occurred it happened with standard and worked fine with Data Center. This may be a regression with the latest patches as I have been testing with October patches.

[2021-12-01 20:08] yasker commented on #2119
I've encountered the same issue on my Dell PowerEdge R630. I would ask the Harvester team to take a look first.

[2021-12-01 21:18] jayunit100 opened #2201 "antrea CNI integration"
**Is your feature request related to a problem? Please describe.**

Feature: a `--antrea` as the CNI option, we discussed this on https://www.youtube.com/watch?v=JzLmsOqfiq0 :)

**Describe the solution you'd like**

To do exactly what @luthermonson did on the antrea live show :), with less steps

**Describe alternatives you've considered**

Manual cni installation w/ the no-cni option, which works

[2021-12-01 22:27] pacholoamit commented on #562
Any update on the Migration tool? I currently have a rancher provisioned rke1 cluster, would it be possible to upgrade the cluster to rke2?

[2021-12-01 23:17] rancher-max commented on #2178
#### Validated using v1.20.13-rc2+rke2r1

- Both fresh install and upgrade to this version are successful
- Still continue to function correctly using this cloud provider

[code]

[2021-12-01 23:17] #2178 closed

[2021-12-01 23:49] rancher-max commented on #2168
#### Validated on v1.21.7-rc3+rke2r1

- Both fresh install and upgrade are successful
- General vsphere cloud provider functionality continues to work

[code]

[2021-12-01 23:49] #2168 closed

[2021-12-02 00:25] rancher-max commented on #2090
Validated runc version is v1.0.2 using rke2 v1.20.13-rc2+rke2r1 and general regression and sonobuoy checks pass

[code]

[2021-12-02 00:25] #2090 closed

[2021-12-02 01:05] rancher-max commented on #2194
Validated using v1.22.4-rc2+rke2r1 this has been resolved

[2021-12-02 01:05] #2194 closed

[2021-12-02 01:06] rancher-max commented on #2195
Validated using v1.21.7-rc3+rke2r1 this has been resolved

[2021-12-02 01:06] #2195 closed

[2021-12-02 01:06] rancher-max commented on #2196
Validated using v1.20.13-rc2+rke2r1 this has been resolved

[2021-12-02 01:06] #2196 closed

[2021-12-02 04:15] ShylajaDevadiga commented on #2051
Validated on rke2 version v1.22.4-rc2_rke2r1
[code]

[2021-12-02 04:15] #2051 closed

[2021-12-02 05:26] ShylajaDevadiga commented on #2135
Validated using rc.
[code]

Related issue for tracking purpose #2176

[2021-12-02 05:26] #2135 closed

[2021-12-02 13:01] vadorovsky commented on #2114
I tried to reproduce this issue with the newest stable rke2 (v1.22.3+rke2r1) and I couldn't. Everything seems fine:

[code]

`cilium status` also looks fine:

[code]

nginx ingress seems to run fine as well:

[code]

[2021-12-02 13:05] vadorovsky commented on #2114
@sigi4 can you show us your `cilium status`? You need to execute that command in Cilium pod (the best is the one from the control plane) like:

[code]

In the meantime, I will try to reproduce the issue with your specific version (v1.21.6), but in the meantime I would suggest you to try the newest one, which worked for me, just in case.

[2021-12-02 13:27] David-VTUK commented on #2119
[code]
I've seen this before when the user I'm running `kubectl` as doesn't have access to ~/.kube/cache. For example:

[code]
Results in:

[code]
Rectified with `chown david:david ~/.kube/cache` and `chmod` (if needed)

[code]

[2021-12-02 13:33] guangbochen commented on #2119
@gogbac can u please try the workaround of `chown $user:$user ~/.kube/cache` and please let us know if this can resolve the issue, thanks

[2021-12-02 14:21] breadnarz opened #2202 "Installation Failing on centos7"
**Environmental Info:**
RKE2 Version: 1.22.x

Node(s) CPU architecture, OS, and Version: Centos 7

Cluster Configuration: Installation

**Describe the bug:**

Running the following on cenots 7:

` curl -sfL https://get.rke2.io | sh -`

[code]

Seems like a repo is unavailable.

**Steps To Reproduce:**

- Installed RKE2:

**Expected behavior:**

Installation works
**Actual behavior:**

Failed insta

[2021-12-02 15:37] gtato opened #2203 "Unable to start a pod on the windows worker: CreateComputeSystem error: The directory name is invalid"
**Environmental Info:**
RKE2 Version:

rke2.exe version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

RuntimeName:  containerd
RuntimeVersion:  v1.5.4

Node(s) CPU architecture, OS, and Version:

System Type:	x64-based PC
OS Name:	Microsoft Windows Server 2019 Standard
Version:    	10.0.17763 Build 17763

Cluster Configuration:

1: ubuntu server
1: windows agent

[2021-12-02 15:41] gtato commented on #2145
A little precision here, this was run on GCP on all the flavors of windows server 2019 they have.

[2021-12-02 16:08] #1067 closed

[2021-12-02 16:18] bashofmann commented on #2091
I assume, you have to also set these as environment variables when starting the `rke2.exe`. But I have no idea how to do this  on Windows.

[2021-12-02 16:30] gtato commented on #2091
Yup, I just did the following and it worked.
[code]

[2021-12-02 17:00] mdrahman-suse opened #2204 "[Windows] Stop-Service rke2 does not stops all rke2 services"
Extension of (https://github.com/rancher/rke2/issues/1755)

**Environmental Info:**
RKE2 Version:

rke2.exe version v1.22.4-rc2+rke2r1 (79dc33a7f4329be00dad7c79d559fc456264a2b9)
go version go1.16.10b7

Node(s) CPU architecture, OS, and Version:

Server: Linux ip-172-31-47-190 5.4.0-1009-aws #9-Ubuntu SMP Sun Apr 12 19:46:01 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
Agent: Windows 10 (1809)

Cluster

[2021-12-02 17:13] #1755 closed

[2021-12-02 17:45] brandond commented on #2203
Can you confirm that you're using a supported version of Windows and have enabled the containers feature as documented at https://docs.rke2.io/install/requirements/#windows

[2021-12-02 18:10] gtato commented on #2203
Yes the container feature is on. Regarding the build number, I am using Windows Server 2019 Standard (amd64), build  17763.**1039**, while in the requirements you have 17763.**2061**. Do you think that makes a difference?

[2021-12-02 18:36] mdrahman-suse commented on #2085
Verified in rke2 using RCs v1.21.7-rc3+rke2r1 and v1.22.4+rke2r1 by performing the same steps as previous and observed similar results.

[2021-12-02 18:36] #2085 closed

[2021-12-02 18:38] brandond commented on #2202
Thanks for reporting this issue! It should now be resolved; please let us know if you continue to see repo errors.

Note that stable has now been updated to 1.22; if you want to continue to install 1.21 you should set INSTALL_RKE2_CHANNEL=1.21

[2021-12-02 18:41] brandond commented on #2203
Yes, I believe the build is important.

[2021-12-02 18:48] mdrahman-suse commented on #2124
Verified in rke2 RC v1.21.7-rc3+rke2r1 and observed the proper version
[code]

[2021-12-02 18:48] #2124 closed

[2021-12-02 18:54] breadnarz commented on #2202
Looks good to me! Thank you

[2021-12-02 18:54] #2202 closed

[2021-12-02 20:16] gtato commented on #2203
I installed some updates and now it seems like the pod started, so I am going to close this issue. Thanks @brandond

[2021-12-02 20:16] #2203 closed

[2021-12-02 21:13] rovandep commented on #850
We have a business use case; using a Kubernetes KMS provider plugin.
We are not able to set a different encryption-provider-config than the one set by default and so at deployment or post deployment.

[2021-12-02 22:32] brandond commented on #850
@rovandep you can pass your own configuration via `--kube-apiserver-arg=encryption-provider-config=/path/to/config`. This was validated in https://github.com/rancher/rke2/issues/1105

[2021-12-03 05:46] ron1 opened #2206 "Remove `hostNetwork: true` from default ingress-nginx configuration"
**Is your feature request related to a problem? Please describe.**

Remove `hostNetwork: true` from default ingress-nginx configuration and instead rely exclusively on hostPorts. Graduated CNCF project Linkerd service mesh does not work with the ingress-nginx `hostNetwork` property set. Now that issue https://github.com/kubernetes/kubernetes/issues/23920# is resolved, RKE2 should no longer need to

[2021-12-03 07:41] guangbochen commented on #2175
confirm this is resolved with bump RKE2 to version `v1.21.7`, would be good if we can have a QA double-check it since it is a common RKE2 issue, thanks.

[2021-12-03 09:21] cghislai commented on #2085
For what is worth, im experiencing this on v1.22.3+rke2r1. Will update to latest this weekend see if it helps.
Error from the helm install chart is as reported above: `Error: UPGRADE FAILED: current release manifest contains removed kubernetes api(s) for this kubernetes version and it is therefore unable to build the kubernetes objects for performing the diff. error from kubernetes: unable to reco

[2021-12-03 15:54] briandowns opened #2207 "Remove Dependency on k3s and socat"
containerd has dropped socat in 1.4 so we can remove our dependence on it from rke2.

[2021-12-03 15:55] briandowns opened #2208 "[ Release 1.21] - Remove Dependency on k3s and socat"
Original issue #2207

[2021-12-03 15:56] briandowns opened #2209 "[ Release 1.20 ] - Remove Dependency on k3s and socat"
Original issue #2207

[2021-12-04 14:31] cghislai commented on #2085
I intended to perform the upgrade today, but i see my cluster has been upgraded to 1.22.4 already (probably to the stable upgrade channel).
The 'helm-install-rke2-metric-server' pod has been upgraded to image rancher/klipper-helm:v0.6.7-build20211110, but the previous pod is still hanging around. Somehow it is not restarting endlessly anymore.

[2021-12-04 15:22] sigi4 commented on #2114
Hey,

@vadorovsky i tried it today again now with the stable version v1.22.4. I basically used my working setup in v1.21.x and upgraded it to v.1.22.4. Still the same issue as before:

`
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.22 (v1.22.4+rke2r1) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNetworkPolicy", "cilium/v2::CiliumEndpoint", "cilium/v2:

[2021-12-04 21:58] NosIreland opened #2215 "Master node fails to register if on different subnet"
**Environmental Info:**
RKE2 Version:
v1.21.6+rke2r1

Node(s) CPU architecture, OS, and Version:
Linux master2 5.4.0-91-generic #102-Ubuntu SMP Fri Nov 5 16:31:28 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
6 nodes, 3xMasters, 3xWorkers

**Describe the bug:**
The nodes are divided between 2 subnets. There are no firewall in between subnets.
2 Master nodes are running in subnet

[2021-12-04 22:43] brandond commented on #2215
[code]

Can you also collect the pod logs, as requested on Slack? Etcd isn't starting up for some reason.

[2021-12-05 11:08] #1044 closed

[2021-12-05 11:08] #1047 closed

[2021-12-05 12:55] cloudcafetech commented on #1916
@brandond

Sorry, for reopening this thread.

HOST- RHEL 8.4
RKE2 Version - v1.20.13+rke2r1

1st Master snapshot restoration not working, getting following error (**fatal msg= newer than datastore and could cause cluster outage. Remove the file from disk and restart to be recreated from datastore**.)

[code]

[2021-12-05 14:21] briandowns commented on #1916
Hi @cloudcafetech, can you remove `/var/lib/rancher/rke2/server/tls/etcd/server-ca.key` and try again? In this version of RKE2 we've introduced a feature that will reconcile bootstrap data between the node's disk and the datastore and gives precedence to the datastore.

[code]

[2021-12-05 14:51] cloudcafetech commented on #1916
@brandond

[code]
Now showing no file

```Dec 05 08:48:00 PRANCHERCP01.wkctls.local rke2[197473]: time="2021-12-05T08:48:00-06:00" level=fatal msg="stat /var/lib/rancher/rke2/server/tls/etcd/server-ca.key: no such file or directory"```

[2021-12-05 19:28] briandowns commented on #1916
Can you verify that etcd is stopped? Run rke2-killall.sh

[2021-12-05 23:58] cloudcafetech commented on #1916
```crictl ps  -a``` not working until rke2-server service UP :(

Not sure is there anyway to verify.

That I run already before I start the service (look my previous comments, I mentioned what commands I executed)

Let me know what commands you want me to execute and what sequence.

[2021-12-06 02:13] zuocg commented on #2192
Tested, the time zone name changes, but the time is still UTC，K8s basic components cannot be modified by kubetctl edit
![image](https://user-images.githubusercontent.com/88480631/144776032-0ca9aaa7-1133-4d4a-9483-9803db066999.png)

[2021-12-06 10:55] brandond commented on #2192
No, they're static pods, you cannot edit them with kubectl. You must pass flags in via the rke2 CLI.

[2021-12-06 11:37] olljanat commented on #764
Btw. How exactly I should do this if I want to modify MTU/etc value for Calico? Based on https://docs.rke2.io/install/network_options/ those settings are under `installation` section which I understand on way that those should be in-place before Calico installation.

However it looks to be that RKE2 installation flush `/var/lib/rancher/rke2/server/manifests/` folder content if that exists before i

[2021-12-06 12:27] 8times4 opened #2216 "[Linux - Ubuntu] Bug - Uninstall script does not purge systemd files."
**Environmental Info:**
RKE2 Version:

v1.22.4+rke2r1

Node(s) CPU architecture, OS, and Version:

Ubuntu 20.04
5.4.0-90-generic

Cluster Configuration:

3m 3a

**Describe the bug:**

Uninstall script does not purge systemd files, effectively making redeployment via ansible fail.

**Steps To Reproduce:**

- Installed RKE2:
- run rke2-uninstall.sh on a debian based system.
- try to reinstall rke2 v

[2021-12-06 14:36] NosIreland commented on #2215
I have torn cluster apart as there was smth not right with it. It was sluggish, dashboard-shell would timeout unless the pod was running on worker node that is on the same subnet as masters.
I suspect it must be something todo with the network. I will need to do more testing
We can park this for now.

[2021-12-06 22:09] galal-hussein opened #2221 "[Release-1.21] - Improved and Manual Cert Rotation"
Backport fix for Improved and Manual Cert Rotation

* #570

[2021-12-06 22:10] galal-hussein opened #2222 "[Release-1.20] - Improved and Manual Cert Rotation"
Backport fix for Improved and Manual Cert Rotation

* #570

[2021-12-06 22:17] ckehoe commented on #2161
@phillipsj Thanks for looking into this! I'm using the VMXNET 3 NIC. Here's my systeminfo:

[code]

Unfortunately I do not have access to the Data Center edition.

[2021-12-06 23:06] phillipsj commented on #2161
@ckehoe could you try with one of the Intel NIC options? Curious about this. I will test on our Vsphere too.

[2021-12-06 23:07] ckehoe commented on #2161
@phillipsj Sure - I'll try that now and report back.

[2021-12-06 23:12] xhejtman opened #2223 "coredns autoscaler is over requests"
**Environmental Info:**
RKE2 Version: 1.21.6-rk2r1

Node(s) CPU architecture, OS, and Version:
x86_64, Ubuntu 20.04

**Describe the bug:**
CPU Request usage is above requested for rke2-coredns-rke2-coredns-autoscaler and over 90% of Limit.
I saw some oom kills as well. So requests should be slightly increased.

Or is it possible to setup own requests/limits?

[2021-12-06 23:22] brandond commented on #2223
Can you show the resource utilization for the deployment on your cluster?

[2021-12-06 23:25] #2216 closed

[2021-12-06 23:28] xhejtman commented on #2223
[code]

I can provide additional info if needed, just say command.

[2021-12-06 23:34] ckehoe commented on #2161
Same issue when using E1000E - Intel(R) 82574L Gitabit Networking connection

[2021-12-07 00:48] cloudcafetech commented on #1916
@brandond
Any update ?

[2021-12-07 00:59] brandond commented on #1916
I'll defer to @briandowns on where to go from here

[2021-12-07 02:29] zuocg commented on #2192
Please tell me how to operate rke2 cli. Can I directly mount the /etc/localtime file in the config.yaml file

[2021-12-07 03:31] briandowns commented on #1916
@cloudcafetech Can you backup the `/var/lib/rancher/rke2/server/tls` directory to somewhere else, remove that directory, and try the restore again?

[2021-12-07 03:44] cloudcafetech commented on #1916
As I mentioned I did the simulation as follows ..

- Uninstall (/usr/bin/rke2-uninstall.sh)
- Normal installation using rpm repo
- Start Service (systemctl enable rke2-server; systemctl start rke2-server)
- Stop Service (systemctl stop rke2-server)
- Run RKE2 kill all command (rke2-killall.sh)
- Restore from snapshot (rke2 server --cluster-reset --cluster-reset-restore-path=$RESTOREPATH)
- Start S

[2021-12-07 15:29] dgiebert commented on #1997
Thank you for reviewing and merging the PR, is there a timeline when this will be integrated and can be used?

[2021-12-07 15:35] manuelbuil commented on #1997
We need flannel to create a new release first

[2021-12-07 16:02] asloan7 opened #2227 "rke2 does not install on AWS Amazon Linux 2 kernel 4.14 and 5.10"
RKE2 Version:  v1.20.12+rke2r1

current latest 5.10 and 4.14
AMI ID: amzn2-ami-kernel-5.10-hvm-2.0.20211201.0-x86_64-gp2 (ami-0ed9277fb7eb570c9)
AMI ID: amzn2-ami-hvm-2.0.20211201.0-x86_64-gp2 (ami-061ac2e015473fbe2)

sudo -i
export RKE2_VERSION="v1.20.12+rke2r1"
curl -sfL https://get.rke2.io | INSTALL_RKE2_VERSION=$RKE2_VERSION RKE2_KUBECONFIG_MODE="644" INSTALL_RKE2_TYPE=server sh -
[INFO]  usin

[2021-12-07 17:30] briandowns commented on #1916
Can you give this a try?

[code]

[2021-12-07 17:37] brandond commented on #2227
[code]

cc @dweomer

[2021-12-07 17:57] dweomer commented on #2227
hmm, el7 is weird. will look at the install script (it should be picking el8, i think)

[2021-12-07 17:58] dweomer commented on #2227
@asloan7 a work-around right now might be to install the `rke2-selinux-0.9-1.el8` rpm before invoking the the installer

[2021-12-07 18:47] brandond commented on #2227
Yeah, `amzn2` isn't really either EL7 or EL8 but the EL8 is probably closer. With `AL2022` coming down the pipe we should probably take another look at what is the most appropriate EL target for these.

[2021-12-07 19:14] #2130 closed

[2021-12-07 19:18] dereknola commented on #2003
Closing as docs only change. No verification required.

[2021-12-07 19:18] #2003 closed

[2021-12-07 21:29] asloan7 commented on #2227
I'm following a bit of what is here https://docs.rke2.io/install/methods/#enterprise-linux-8 and
yum install rke2-selinux-0.9-1.el8

But still getting
Error: Package: rke2-selinux-0.9-1.el8.noarch (rancher-rke2-common-latest)
           Requires: container-selinux >= 2:2.167.0-1
Error: Package: rke2-selinux-0.9-1.el8.noarch (rancher-rke2-common-latest)
           Requires: selinux-policy-base >= 3

[2021-12-07 21:44] brandond commented on #2227
It looks like Amazon Linux 2 has upgraded container-selinux and selinux-policy-base past a version that we currently support. Amazon Linux isn't technically on our support matrix, but we can see what we can do.

[2021-12-07 22:07] asloan7 commented on #2227
Do you have a link to a list of supported OS versions?
Maybe I could try an older AL2 AMI
---
For fun I just tried the AL2022,
curl -sfL https://get.rke2.io | RKE2_KUBECONFIG_MODE="644" INSTALL_RKE2_TYPE=server sh -
[INFO]  finding release for channel stable
[INFO]  using 1.22 series from channel stable
Rancher RKE2 Common (stable)                                                            9.7 kB/

[2021-12-07 22:19] manuelbuil commented on #2223
It is possible to request your own request/limits. Those are configurable via the helm chart https://github.com/rancher/rke2-charts/blob/main/charts/rke2-coredns/rke2-coredns/1.16.401-build2021111901/values.yaml#L295-L302 by using HelmChartConfig https://docs.rke2.io/helm/#customizing-packaged-components-with-helmchartconfig

[2021-12-07 22:36] #1073 closed

[2021-12-07 22:36] #1072 closed

[2021-12-07 22:44] brandond commented on #2227
See the OS list here: https://www.suse.com/suse-rancher/support-matrix/all-supported-versions/rancher-v2-6-2/

[2021-12-07 23:49] yasker commented on #2119
@David-VTUK is right. It's a permission issue in Harvester.
<img width="1445" alt="Screen Shot 2021-12-07 at 3 48 30 PM" src="https://user-images.githubusercontent.com/3344618/145123507-a8a864d1-22b3-4aaa-988b-71dc50b3e949.png">

I will close this one and follow up the conversation in https://github.com/harvester/harvester/issues/1617

[2021-12-07 23:49] #2119 closed

[2021-12-08 00:44] cloudcafetech commented on #1916
Finally I am able to recover. :)

Thanks,

Seems backup and restore procedure got changed.
Earlier I used to take backup snapshot data, now I have to take a backup of certificate, token, config files also .. right ?

Can you tell me exact steps for backup and restore .. please.

[2021-12-08 01:09] briandowns commented on #1916
All of that information is in the `/var/lib/rancher/rke2` directory. That can be backed up.

[2021-12-08 01:27] cloudcafetech commented on #1916
So let me rewrite my simulation ...

- Backup:

[code]

- Complete Cleanup:

```rke2-uninstall.sh```

- Restore :

[code]

** Please confirm, is that right way to do or am I missing any steps **

[2021-12-08 01:29] briandowns commented on #1916
This link outlines all of the necessary steps and items: https://docs.rke2.io/backup_restore/#restoring-a-snapshot-to-new-nodes

[2021-12-08 01:37] cloudcafetech commented on #1916
Little confusing ...

![image](https://user-images.githubusercontent.com/68260844/145132563-c1e24edd-c04d-4131-a2e2-2e21afbbacf8.png)

in point 2 mentioned ```Restore the certs in Step 1 ```

So I have to restore only certs (/var/lib/rancher/rke2/server/tls) or I have to restore all (/etc/rancher, tls cred token) which mention step 1

[2021-12-08 01:42] briandowns commented on #1916
Yes, restore the items listed in 1. I'll update the docs to call that out so it's not as confusing.

[2021-12-08 01:52] cloudcafetech commented on #1916
Perfect 👍

And its applicable for all version from v1.20.13+rke2r1 to upcoming next ..

Actually, I prepared a script which will do complete (backup and restore) automated way, Earlier it was working with v1.20.12+rke2r1 and its got failed for all version from v1.20.13+rke2r1.

Now I have to modify the scripts. After modification will simulate again and update you.

Once again Thank you for suppor

[2021-12-08 01:58] briandowns commented on #1916
Glad to hear you're all set! Going to close for now. Please reopen if necesssary.

[2021-12-08 01:58] #1916 closed

[2021-12-08 03:26] bk201 opened #2229 "[release-1.21] Wrong images in `rke2-images-multus.linux-amd64.txt`"
**Environmental Info:**
RKE2 Version: `v1.21.7+rke2r1`

**Describe the bug:**

Multus images have been bumped to newer versions:
https://github.com/rancher/rke2-charts/blob/28ac3605e54d09e6e52549deffb07d3bbad34a04/packages/rke2-multus/charts/values.yaml#L1-L16
[code]

But the [published images list](https://github.com/rancher/rke2/releases/download/v1.21.7%2Brke2r1/rke2-images-multus.linux-amd64.t

[2021-12-08 04:12] guangbochen commented on #2229
this is not a blocker issue but would prefer to get it fixed AEAP so we don't need to add those desired images manually for its future version, thanks.

[2021-12-08 04:43] brandond commented on #2229
You're right. I bumped the multus chart but missed those two images in the build script. I'd intended to work with @manuelbuil to get the rest of the images rebuild before bumping that chart in RKE2.

https://github.com/rancher/rke2/commit/e5b68727e27e9c0755e5cfb0ef4366de13120e0e

[2021-12-08 07:59] ShylajaDevadiga commented on #2175
Using rke2 version v1.21.7+rke2r2, created a 3 node cluster. After the nodes were ready and pods running, rebooted the nodes together and verified coredns-autoscaler does not timeout after reboot.
On another note, I was not able to reproduce this issue in rke2 version v1.21.5+rke2r1. Rebooted all nodes at once multiple times.
[code]
Closing issue as resolved. Please feel free to re-open if you sti

[2021-12-08 09:48] manuelbuil opened #2230 "Verify new control plane nodes joining the cluster share the same config as cluster members"
**Is your feature request related to a problem? Please describe.**

Similar to https://github.com/k3s-io/k3s/issues/4579, when deploying rke2-ha, I'd like some logic to verify that the config of the new joining member is the same as the ones already running. Otherwise, we see a strange behavior, sometimes difficult to debug

**Describe the solution you'd like**

If a server joins the HA cluster wi

[2021-12-08 10:08] brandond commented on #2229
Please don't close this, we need to fix it on our side.

[2021-12-08 13:20] asloan7 commented on #2227
I see you have ubuntu above Centos/RHEL on the OS list, is it the preferred OS?

[2021-12-08 15:16] guangbochen commented on #2229
I see it is because of keyword `Fix rancher/rke2#2229`, cc @bk201 prefer to use the `address` or `resolve` next time in the PR commits, thanks.

[2021-12-08 15:46] bk201 commented on #2229
My bad, I didn't expect a comment in harvester-installer closes a RKE2 issue.

[2021-12-08 17:00] rancher-max commented on #2188
I validated this as part of the v1.21.7+rke2r1 release. Installs with calico are successful both standalone and through rancher and networking checks continue to work.

[2021-12-08 17:00] #2188 closed

[2021-12-08 17:12] katran001 opened #2231 "Cut 1.22.5+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 12/8 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.22.5+rke2r1

_To release once have approval from QA:_
- 1.22.5+rke2r1

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releases - add event to team calendar
- [ ] PJM: Dev and QA team

[2021-12-08 17:15] katran001 opened #2232 "Cut 1.21.8+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 12/8 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.21.8+rke2r1

_To release once have approval from QA:_
- 1.21.8+rke2r1

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming releases - add event to team calendar
- [ ] PJM: Dev and QA team

[2021-12-08 17:16] katran001 opened #2233 "Cut 1.20.14+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 12/8 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.20.14+rke2r1

_To release once have approval from QA:_
- 1.20.14+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming release

[2021-12-08 23:53] brandond opened #2236 "Wrong images in rke2-images-multus.linux-amd64.txt"
Fix **Wrong images in rke2-images-multus.linux-amd64.txt** on branch **master**
* #2229

[2021-12-09 14:08] janeczku opened #2242 "Bump cilium to 1.11.1"
Cilium 1.10.5 is available since October 15 and ships a number of bug fixes described here: https://github.com/cilium/cilium/releases/tag/v1.10.5

[2021-12-09 16:42] vadorovsky commented on #2242
I would rather bump it to 1.11.0 which got released today.

https://github.com/cilium/cilium/releases/tag/v1.11.0

I will prepare an update soon.

[2021-12-09 17:35] dereknola commented on #2158
/backport release-1.20

[2021-12-09 17:36] dereknola commented on #2158
/backport v1.20.14

[2021-12-09 17:52] dereknola commented on #2158
/backport v1.20.14+rke2r1

[2021-12-09 17:53] dereknola commented on #2158
/backport 1.20.14+rke2r1

[2021-12-09 17:53] rancherbot opened #2243 "[Backport 1.20.14+rke2r1] [Release-1.21] Encryption key rotation"
This is a backport issue for https://github.com/rancher/rke2/issues/2158, automatically created via rancherbot by @dereknola

Original issue description:

Backport of https://github.com/rancher/rke2/issues/748

[2021-12-09 17:54] dereknola commented on #2243
Closing as a test issue

[2021-12-09 17:54] #2243 closed

[2021-12-09 21:37] mitchellmaler opened #2245 "Ability to change the kubelet/rke2 logs path"
**Is your feature request related to a problem? Please describe.**
We make sure most all logs are located under /var/log but the rke2 service logs the kubelet logs under /var/lib/rancher/rke2/agent/logs/kubelet.log which is not a standard logging path.

**Describe the solution you'd like**
Ability to change this path to something like /var/log/rke2/ or /var/log/kubelet/

**Describe alternatives yo

[2021-12-09 23:55] rancher-max opened #2248 "Pods using an unprivileged container fail to deploy on sle micro 5.1"
Same as https://github.com/k3s-io/k3s/issues/4719 for rke2.

[2021-12-10 09:50] brandond opened #2252 "[release-1.21] RKE2 Ignores multiple endpoint setting of private registry servers"
Backport fix for **RKE2 Ignores multiple endpoint setting of private registry servers** to branch **release-1.21**
* #2159

[2021-12-10 09:50] brandond opened #2253 "[release-1.20] RKE2 Ignores multiple endpoint setting of private registry servers"
Backport fix for **RKE2 Ignores multiple endpoint setting of private registry servers** to branch **release-1.20**
* #2159

[2021-12-10 21:42] brandond commented on #2192
On recent releases, you should be able to use the following flags:
[code]

so, for example:
`rke2 server --kube-apiserver-extra-env=TZ=America/Los_Angeles`

[2021-12-10 21:51] brandond commented on #2144
We don't currently have a method of deleting a node that prevents it from rejoining the server when the service is restarted. This is true of both K3s and RKE2.

I'm am not sure if this is something we need to offer as a feature, or if downstream projects like Harvester should find some way to orchestrate running `systemctl disable --now rke2-server` on the node to ensure that systemd no longer re

[2021-12-10 22:28] VestigeJ opened #2258 "Systemd start up time longer 9ms --> 1 minute"
Hey Team - I noticed a noticeably slower start up time for RKE2 on the current pre-release branch for 1.21.7, I then went and checked for the same behavior on the released branches for v1.21.7+rke2r2, and v1.22.4+rke2r2. The startup time for v1.20.13+rke2r1 is 9ms whereas the aforementioned three versions are averaging at 51 seconds, one peaked at 1minute 11 seconds. **_EDIT_** I also tested this

[2021-12-10 22:39] brandond commented on #2258
Older releases of RKE2 reported successful startup to systemd way before the system was actually done starting up. We fixed that bug, so now the startup times should more closely reflect that actual time before the cluster is ready to acccept requests. At no point in time was RKE2 actually done starting in 9ms.

[2021-12-10 22:44] dweomer commented on #2144
Is this more appropriately achieved via CCM implementaion?

[2021-12-10 22:56] #2258 closed

[2021-12-13 16:29] ssrirama-aka commented on #1600
@brandond or anyone on the RKE2 core team, any feedback or review comments on this issue? We are still seeing this behavior in our RKE2 clusters

[2021-12-14 16:14] Oats87 opened #2261 "Update docs to reflect actual minimum vCPU/RAM requirements"

[2021-12-14 16:16] Oats87 opened #2262 "Update docs to reflect actual minimum vCPU/RAM requirements"
Upon merging https://github.com/rancher/rke2/commit/959247b6a8471a417ca457ca5760ee53d5d67be1 into RKE2, the minimum CPU requirements became higher due to setting requests on every static pod/component we run.

Currently, we advertise that RKE2 can run with 1 vCPU and 512 MB of RAM -- we need to re-evaluate these requirements as RKE2 has evolved quite a ways.

https://docs.rke2.io/install/requireme

[2021-12-14 16:17] Oats87 commented on #2261
GitHub appears to have created two identical issues when I only intended on creating one. https://github.com/rancher/rke2/issues/2262 is the actual issue.

[2021-12-14 16:17] #2261 closed

[2021-12-14 16:23] Oats87 opened #2263 "Need to explicitly clarify terminology around our use of the term "token""
Today, RKE2 allows a user to specify a custom `--token` parameter for the purposes of essentially defining a pre-shared key for controlplane/agent deployment.

 ~A user may be under the false impression that the `--token` is all they need to restore their etcd snapshots. This is not true if a user is providing a "custom" token -- bootstrap data (including CA certificates, secret encryption config,

[2021-12-14 16:47] manuelbuil commented on #2263
+1! It's also confusing (at least to me) that there is a token (RKE2_TOKEN) for server or agents to join the cluster and another token for agents to join the cluster but not servers (RKE2_AGENT_TOKEN)

[2021-12-14 17:03] brandond commented on #2263
You **do not** need to store the complete K10-format token. If you're seeing that this is the case then we have an issue. The complete K10-format token stored on disk includes a hash of the cluster CA and a hardcoded username, along with the passphrase. Only the passphrase portion is used to calculate the key that the bootstrap data is encrypted under, and only the passphrase portion is used to ge

[2021-12-14 17:18] Oats87 commented on #2263
I did not deeply analyze the code here and was relying on relayed information to me. Taking a closer look at what is going on, it does appear that a user should be able to restore their cluster from an etcd snapshot to a completely new set of nodes using only a custom `--token` they specified, or by just extracting the last bit (passphrase) of the token out of the full K10 token.

The very fact th

[2021-12-14 17:21] brandond commented on #2263
I agree 100% that we should do a better job of documenting the difference between the two, and describing which to use and when.

@ibuildthecloud has been saying for a while that we should encourage users to always specify the full K10 token when joining nodes to the cluster in order to ensure that they validate the cluster CA certificate; but if you try to use this same format when **creating** a

[2021-12-14 18:42] brandond commented on #2263
Also worth calling out: @dereknola improved some of the CLI handling in a recent PR. CLI output isn't documentation though, we still have a serious deficiency there.
* https://github.com/k3s-io/k3s/pull/4180

[2021-12-14 19:48] Oats87 commented on #2262
Closing as no validation is required.

[2021-12-14 19:48] #2262 closed

[2021-12-15 02:39] rancher-max commented on #2236
Validated can successfully use multus during airgap install with v1.22.4-rc1+rke2r3 via private registry. Confirmed it is using `rancher/hardened-multus-cni:v3.7.1-build20211119`

[2021-12-15 02:39] #2236 closed

[2021-12-15 02:41] rancher-max commented on #2208
Confirmed installs using v1.21.7-rc2+rke2r3 are successful and cluster appears to function correctly. As part of patch validation process, we will confirm sonobuoy and other standard k8s regression checks work, so I am closing this issue.

[2021-12-15 02:41] #2208 closed

[2021-12-15 02:42] rancher-max commented on #2209
Confirmed installs using v1.20.13-rc1+rke2r2 are successful and cluster appears to function correctly. As part of patch validation process, we will confirm sonobuoy and other standard k8s regression checks work, so I am closing this issue.

[2021-12-15 02:42] #2209 closed

[2021-12-15 17:24] rancher-max commented on #2248
This actually is working and the container itself was bad.

[2021-12-15 17:24] #2248 closed

[2021-12-15 18:57] kdalporto opened #2269 "RKE2 support for IAM Roles for Service Accounts"
**What happened**:
I'm trying to implement IRSA for a Self-hosted RKE2 kubernetes environment following the documentation here: [SELF_HOSTED_SETUP](https://github.com/aws/amazon-eks-pod-identity-webhook/blob/master/SELF_HOSTED_SETUP.md).

I've configured everything, however when I deploy a new awscli pod for testing I see the errors below.

***kube-apiserver logs***

***pod-identity-webhook logs**

[2021-12-15 19:43] rancher-max opened #2270 "RKE2 secrets encryption key rotation"
Pull in functionality from https://github.com/k3s-io/k3s/issues/4254

[2021-12-15 19:44] rancher-max opened #2271 "[release-1.21] RKE2 secrets encryption key rotation"
Backport of https://github.com/rancher/rke2/issues/2270

[2021-12-15 19:49] brandond commented on #2269
`E1214 23:48:33.375314 1 dispatcher.go:171] failed calling webhook "pod-identity-webhook.amazonaws.com": Post "https://pod-identity-webhook.kube-system.svc:443/mutate?timeout=30s": x509: certificate signed by unknown authority`

The webhook's certificate is not trusted by the apiserver. In the steps at https://github.com/aws/amazon-eks-pod-identity-webhook#in-cluster what process did you use to

T

[2021-12-15 19:57] brandond commented on #2269
Also, the instructions at https://github.com/aws/amazon-eks-pod-identity-webhook/blob/master/SELF_HOSTED_SETUP.md are out of date and need to be updated to track with recent releases of Kubernetes. The apiserver itself now hosts its own OIDC discovery endpoint, so the steps that see you create your own document and store it in an S3 bucket are not necessary and will in fact not work. The cluster w

[2021-12-15 20:05] kdalporto commented on #2269
@brandond Thanks for the information, the CSR gets approved by the Makefile after it runs, but as you indicated since it is out of date, I will look into reconfiguring it to work with the apiserver OIDC.

[2021-12-15 20:13] kdalporto commented on #2269
Is using the OIDC endpoint on the apiserver common practice for IRSA? I've really only found the S3 OIDC documentation when not hosting on EKS.

[2021-12-15 20:35] brandond commented on #2269
I'd never seen this referred to as IRSA so I had to go look that up lol. I have no idea if it's common practice or not, but it should work. I know that the current in-cluster OIDC stuff does work.

[2021-12-15 21:00] gaktive opened #2272 "Ship bundles that adhere to semver to make upgrades work without workarounds"
UI received a ticket regarding upgrades not working within RKE2 versions: https://github.com/rancher/dashboard/issues/4776

As noted in the comments, the UI is dependent on semver logic to know the steps to upgrade. So when UI sees the RKE2 flow to upgrade from `v1.21.7+rke2r2` to `v1.21.7-rc2+rke2r3`, the hyphen `-` actually is a separator for versions, meaning that per helm, this is actually a d

[2021-12-15 21:05] brandond commented on #2272
Our GA releases have a + in them: `v1.21.7+rke2r1` or v1.21.7+k3s1. Only RCs have a hyphen, which goes before the plus. If you are seeing `v1.21.7rke2r1` anywhere (without either a + or -) then there's a bug.

Putting the RC **before** the release (in a position where it actually looks like the Kubernetes version is an RC) was a decision handed down from above (@cjellick and @ibuildthecloud if I r

[2021-12-15 21:06] deniseschannon commented on #2272
@brandond I think that was overall a typo, but these are the RKE2 releases that are published in KDM. I updated to add in the `+` in the typo.

@cjellick @cwayne18 We can discuss in our integration meeting.

[2021-12-15 22:48] rancher-max commented on #2159
#### Validated using v1.22.4-rc1+rke2r3

Created a mirrors file like below:
[code]
where `https://rancher-max.fake.registry` is a essentially a random url that is not a valid registry or even accessible, and `https://rancher-max.real.registry` is a valid registry that contains all necessary runtime images.

- All images, including rke2-runtime, successfully pulled and my cluster was up and running

[2021-12-15 22:48] #2159 closed

[2021-12-15 22:49] rancher-max commented on #2253
Performed the same tests mentioned in https://github.com/rancher/rke2/issues/2159#issuecomment-995274601 using v1.20.13-rc1+rke2r2 and all were successful.

[2021-12-15 22:49] #2253 closed

[2021-12-16 00:21] #2186 closed

[2021-12-16 00:24] dereknola opened #2277 "Unable to start secondary etcd nodes if initial cluster member is offline"
Issue to track fix for parallel issue seen in K3s.
https://github.com/k3s-io/k3s/issues/4746

[2021-12-16 00:28] rancher-max commented on #2270
This is a duplicate and not needed

[2021-12-16 00:28] #2270 closed

[2021-12-16 00:28] rancher-max commented on #2271
This is a duplicate and not needed

[2021-12-16 00:28] #2271 closed

[2021-12-17 06:23] mdrahman-suse commented on #2229
Validated can successfully use multus during airgap install with v1.21.8-rc1+rke2r1 via private registry and via tarball. Confirmed it is using `rancher/hardened-multus-cni:v3.7.1-build20211119`

[2021-12-17 06:23] #2229 closed

[2021-12-17 18:57] manuelbuil commented on #2230
We get this for free with k3s code! :)

[2021-12-17 18:57] #2230 closed

[2021-12-18 10:18] tommorvolloriddle commented on #2172
Could you be more specific what steps have to be taken to address this problem.

I am currently stuck at this point of installation.

[2021-12-18 20:23] #1101 closed

[2021-12-18 23:05] brandond commented on #2172
You must start the Linux server nodes with `cni: calico` in the config file. The CNI cannot be changed after the cluster is brought up; you should configure this before starting rke2 on the servers for the first time.

[2021-12-20 04:46] #1111 closed

[2021-12-20 20:18] rancher-max opened #2287 "[RC BUG] Unable to restore a snapshot on a fresh node"
**Environmental Info:**
RKE2 Version:

v1.22.5-rc2+rke2r1, v1.21.8-rc2+rke2r1, v1.20.14-rc2+rke2r1

Node(s) CPU architecture, OS, and Version:

SLES 15 SP 2

Cluster Configuration:

initially 3 servers 1 agent. All those machines are stopped and I'm trying to restore to a single server

**Describe the bug:**

When trying to restore the snapshot, during the reset, it fails with a panic:
[code]

**S

[2021-12-21 07:02] ShylajaDevadiga opened #2288 "On cis hardened cluster , RKE2 should refuse to start if the etcd user and group doesn't exist on the host"
**Environmental Info:**
RKE2 Version:
Any version
v1.20.14-rc2+rke2r1, v1.21.8-rc2+rke2r1, v1.22.5-rc1+k3s1

Node(s) CPU architecture, OS, and Version:
SLES 15 SP2

Cluster Configuration:
3 server, 1 agent CIS enabled cluster
profile: cis-1.5
profile: cis-1.6

**Describe the bug:**
As per the docs, RKE2 should refuse to start if the etcd user and group doesn't exist on the host
[code]

**Steps To

[2021-12-21 09:28] brandond commented on #2288
Huh, we've only ever checked for the user, not the group. Despite both the check and our docs referencing the group being required.

[2021-12-21 18:02] rancher-max opened #2291 "Must restart rke2-server process from initial server node after secrets-encrypt commands"
v1.21.8 and v1.22.5 bring in a new rke2 command: `rke2 secrets-encrypt`. As part of this, users are able to rotate the encryption used for their secrets. Subsets of this command include:
[code]

After running any of `enable`, `disable`, `prepare`, `rotate`, or `reencrypt` it is required to restart the rke2-server process on all nodes. However, it will appear that there is an error if running these

[2021-12-21 18:52] ShylajaDevadiga opened #2292 "Support Centos8.5 with selinux"
Test and Validate Centos8.5

[2021-12-21 19:37] rancher-max commented on #1959
#### Validated on all of v1.22.5-rc2+rke2r1, v1.21.8-rc2+rke2r1, and v1.20.14-rc2+rke2r1

- Following the steps mentioned by Brad in the recreation scenario, I see the coredns pods reschedule to the remaining node successfully with no errors and the pod manifests related to the control plane on the deleted node are all removed. These include: `cloud-controller-manager.yaml`, `etcd.yaml`, `kube-api

[2021-12-21 19:37] #1959 closed

[2021-12-21 20:12] l-with commented on #1676
I think, it is essential to have a terraform provider for rke2. Please implement.

[2021-12-21 20:48] ShylajaDevadiga commented on #2292
Validated as per our new OS matrix validation

Install and upgrade scenarios on non-hardened as well as hardened cluster
Verified Conformance test passed.
Import to rancher was successful
Configured the cluster as the local management cluster in rancher and imported new clusters

[2021-12-21 20:48] #2292 closed

[2021-12-21 21:06] briandowns opened #2293 "[Release-1.21] - On cis hardened cluster , RKE2 should refuse to start if the etcd user and group doesn't exist on the host"
Backport fix for On cis hardened cluster , RKE2 should refuse to start if the etcd user and group doesn't exist on the host

* #2288

[2021-12-21 21:06] briandowns opened #2294 "[Release-1.20] - On cis hardened cluster , RKE2 should refuse to start if the etcd user and group doesn't exist on the host"
Backport fix for On cis hardened cluster , RKE2 should refuse to start if the etcd user and group doesn't exist on the host

* #2288

[2021-12-21 21:13] rancher-max commented on #748
#### Validated using v1.22.5-rc2+rke2r1

- secrets encryption rotation works per the design document. There is a small caveat called out in https://github.com/rancher/rke2/issues/2291

Full set of steps:
[code]

[2021-12-21 21:13] #748 closed

[2021-12-21 21:13] rancher-max commented on #2158
Performed the same steps mentioned in https://github.com/rancher/rke2/issues/748#issuecomment-999097918 on v1.21.8-rc2+rke2r1 with the same successes, minus the caveat mentioned.

[2021-12-21 21:13] #2158 closed

[2021-12-22 00:07] mdrahman-suse opened #2300 "[Windows] rke2 agent on windows is not getting connected to rke2 server"
rke2 agent on windows is not getting connected to rke2 server and failing with error `containerd: exec: "containerd": executable file not found in %PATH%`

**Environmental Info:**
RKE2 Version:

rke2 version v1.21.8-rc2+rke2r1 (017da18abfd5815ea2e35cef46354a2e1ede83c7)
go version go1.16.10b7
v1.21.8-rc2+rke2r1
rke2 version v1.22.5-rc2+rke2r1 (6f2632aaae172dda758813c1dc3c8928ba36682f)
go version go

[2021-12-22 00:52] VestigeJ commented on #2222
$ rke2 -v
[code]

$ uname -a
[code]

$ kubectl get nodes
[code]

$ sudo systemctl stop rke2-server
$ sudo rke2 --debug certificate rotate
[code]

$ DEFAULT_TLS=/var/lib/rancher/rke2/server/tls
$ sudo diff -s -r $DEFAULT_TLS /var/lib/rancher/rke2/server/tls-1640133418 | grep -i identical | awk '{print $2}' | xargs basename -a | awk 'BEGIN{print "Identical Files:  "}; {print $1}'
[code]

$ sudo syst

[2021-12-22 00:58] #2222 closed

[2021-12-22 01:05] ShylajaDevadiga commented on #2252
Validated on  v1.21.8-rc2+rke2r1
[code]
Endpoint **https://mirror.lab.example.com:5000** does not exist, images are pulled from the second mirror **https://privreg.com:5000**
[code]
Testing with custom images.
pod1 uses image
[code]
pod2 fails as image mirror.lab1.example.com does not exist
[code]

[code]
[code]

[2021-12-22 01:05] #2252 closed

[2021-12-22 01:14] ShylajaDevadiga commented on #2277
Validated using rc v1.21.8-rc2+rke2r1 v1.22.5-rc2+rke2r1

[2021-12-22 01:14] #2277 closed

[2021-12-22 01:18] VestigeJ commented on #2221
$ rke2 -v
[code]

$ uname -a
[code]

$ kubectl get nodes
[code]

$ sudo systemctl stop rke2-server
$ sudo rke2 --debug certificate rotate
[code]

$ DEFAULT_TLS=/var/lib/rancher/rke2/server/tls
$ sudo diff -s -r $DEFAULT_TLS /var/lib/rancher/rke2/server/tls-1640133418 | grep -i identical | awk '{print $2}' | xargs basename -a | awk 'BEGIN{print "Identical Files:  "}; {print $1}'
[code]

$ sudo syst

[2021-12-22 01:36] VestigeJ commented on #570
Validated this on v1.20 / v1.21 / v1.22 but I'm going to leave this open for additional future changes. (That and I can't close it).

Validated
---------------------------------------------------------------------------------------------

$ rke2 -v
[code]

$ uname -a
[code]

$ kubectl get nodes
[code]

$ sudo systemctl stop rke2-server
$ sudo rke2 --debug certificate rotate
[code]

$ DEFAULT_TLS=/

[2021-12-22 01:38] #2221 closed

[2021-12-22 02:00] rancher-max commented on #2287
Validated in all of v1.20.14-rc3+rke2r1, v1.21.8-rc3+rke2r1, and v1.22.5-rc3+rke2r1 that following the same steps works correctly.

The cluster restored properly, then I restarted the service. In all cases, the service actually failed to restart, looping with: `level=info msg="runtime is not yet initialized"`. I ran `rke2-killall.sh` and then restarted again and it worked correctly. I was also abl

[2021-12-22 02:00] #2287 closed

[2021-12-22 02:01] rancher-max opened #2301 "Restoring a snapshot to a fresh node requires running killall after server process restart"
See steps from issue for https://github.com/rancher/rke2/issues/2287#issuecomment-999223353. In order to have the node up and running after running the cluster-reset, I had to do the following:

1. sudo systemctl start rke2-server
2. sudo rke2-killall.sh
3. sudo systemctl restart rke2-server

We shouldn't have to do steps 2 and 3 after performing a cluster-reset.

[2021-12-22 02:52] braunsonm commented on #2022
Any update on this? The vSphere CSI has supported 1.22 for awhile now it seems.

[2021-12-22 07:53] brandond commented on #2022
This will likely happen in sync with Rancher 2.6.4

[2021-12-22 15:14] jackelynoliveira commented on #676
This issue, along with this [gist](https://gist.github.com/superseb/3b78f47989e0dbc1295486c186e944bf), were very useful for me to understand a problem I was having to pull images from a Nexus private registry for an Rancher provisioned RKE2 cluster.

After connecting to one of the cluster's machines, I ran this command so I could reproduce the error I was having:
`/var/lib/rancher/rke2/bin/ctr --a

[2021-12-22 21:43] chrisbward commented on #1815
[code]
[code]

doesn't want to play

[2021-12-22 22:35] mdrahman-suse commented on #2300
Verified the fix in rke2 with RC v1.22.5-rc4+rke2r1 and v1.21.8-rc4+rke2r1 and observed that the windows agent is properly getting connected to the ubuntu server and rke2 is up and running with all its services

[code]

[2021-12-22 22:35] #2300 closed

[2021-12-22 22:58] briandowns opened #2305 "Automate the Go Update Process for RKE2 and Dependent Image Build Processes"
RKE2 uses custom images to build itself as well as it's dependent components. A nonexhaustive list is below. These image build processes need to be updated with the latest Go version in association with what the correlated upstream version is using. An automated process needs to be developed to ease the burden of the current manual update process.

* github.com/rancher/image-build-kubernetes
* git

[2021-12-23 00:28] brandond opened #2306 "Cut 1.23.1-rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: **TBD*** (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
- 1.23.1-rc1+rke2r1

_To release once have approval from QA:_
- 1.23.1+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [ ] PJM: Dev and QA team to be notified of the incoming r

[2021-12-23 12:15] Martin-Weiss opened #2309 "[Release 1.20] rke2 1.20.12 sets wrong network in net-conf.json of rke2-canal due to change in variable name clusterCIDR to clusterCIDRv4"
**Environmental Info:**
RKE2 Version:  1.20.12

Node(s) CPU architecture, OS, and Version:
x86_64 sles15

Cluster Configuration:
3 server, 3 or more agents

**Describe the bug:**
After the upgrade from 1.20.11 to 1.20.12 the settings in config.yaml for cluster cidr are not effective in canal and due to this cluster communication is broken.

We have adjusted the network settings in config.yaml this

[2021-12-23 15:25] manuelbuil commented on #2309
I am not sure what is going on but `global.clusterCIDR"` and `"global.clusterCIDRv4"` should give the same output: https://github.com/rancher/rke2/blob/master/pkg/bootstrap/bootstrap.go#L256-L257. So, that should not be the problem.

From what I see, the system is reacting as if `clusterCIDR=10.42.0.0/16`. Can you please show me the output of: `kubectl get nodes -o yaml | grep CIDRs -n2`

[2021-12-23 15:31] manuelbuil commented on #2309
Could it be that you are configuring `cluster-cidr: "192.168.0.0/17"` only in one server and not in the 3 HA servers? That will explain why you are suddenly seeing the default network `10.42.0.0/16`

[2021-12-23 15:48] #2106 closed

[2021-12-23 15:49] #2105 closed

[2021-12-23 15:49] #2104 closed

[2021-12-23 15:49] Martin-Weiss commented on #2309
No - we have it identical everywhere with `cluster-cidr: "192.168.0.0/17"`

But we can see this:

[code]

But the helm chart looks for .`Values.global.clusterCIDRv4 .Values.podCidr`

So somehow rke2 does the helm install of rke2-canal without `clusterCIDRv4`

[2021-12-23 16:07] manuelbuil commented on #2309
Found the problem. Somehow the rke2 chart we for canal in v1.19 and v1.20 (https://github.com/rancher/rke2-charts/tree/main-source/packages/rke2-canal-1.19-1.20) contains dual-stack logic and it should not. rke2 v1.20 code does not have access to `clusterCIDRv4` variable because dual-stack support started in v1.21. Give me 5 minutes to prepare a correct canal helm chart for you

[2021-12-23 16:15] manuelbuil commented on #2309
In the meanwhile, applying this config should fix the problem:
[code]

[code]

[2021-12-23 16:28] Martin-Weiss commented on #2309
Already worked around this way:

[code]

But - this bug seems to be a critical one as anyone who wants to address CVE-2021-25742 will have to upgrade to 1.20.12 and AFAIK this is also the only version Rancher 2.5.11 offers via its data.json. There is rke2 1.20.13 in the online version of the rancher data.json but that does not cover airgapped.

Does this issue exist in 1.20.13 and 1.20.14, too?

[2021-12-23 16:37] manuelbuil commented on #2309
Yes :(. The bug has been there since October 22nd. If I calculate correctly, it is there since 1.20.12

[2021-12-23 16:42] Martin-Weiss commented on #2309
Could you get this somehow into the release notes as known issues for the versions that have this issue?

Could you try to find out why this has been overseen in QA?

[2021-12-23 16:47] manuelbuil commented on #2309
Yes, we will update those right now. We will have it fixed in the v1.20.15+rke2r1 release or if needed, during next weeks in a v1.20.14+rke2r2 release. Is it ok to wait for `v1.20.15+rke2r1` (~1 month) to have the fix as part of a release?

I guess it is because QA uses the default cidr. I should discuss this with @rancher-max when he is back form vacation

[2021-12-23 16:52] Martin-Weiss commented on #2309
Thanks - prio 1 is to inform customers using 1.20.12 and newer about the issue and the workaround.

Regarding QA - I believe we had an issue with adjusted CIDRs already in some previous release and we really should test with adjusted settings as it is pretty common not to use the default CIDRs (10.* addresses are pretty often already in use...)

[2021-12-23 21:17] brandond commented on #1600
Can you reproduce this with more recent versions of RKE2?

[2021-12-25 23:03] #1137 closed

[2021-12-27 08:13] zuocg opened #2314 "No rke2-server-1.22.5~rke2r1 rpm installation package"
**Environmental Info:**
RKE2 Version: rke2-server-1.22.5~rke2r1

Node(s) CPU architecture, OS, and Version:
OS：Centos 7.9

Cluster Configuration:

**Describe the bug:**
The rke2 installation script downloads the rke2 software (rpm), showing that there is no available software package rke2-server-1.22.5~rke2r1

**Steps To Reproduce:**

- Installed RKE2:

**Expected behavior:**

**Actual behavior:**

[2021-12-27 08:22] zuocg commented on #2314
![image](https://user-images.githubusercontent.com/88480631/147451327-0fb43310-16e9-467b-880c-10641a70686b.png)

[2021-12-28 03:01] zuocg commented on #2192
thk

[2021-12-28 03:24] zuocg commented on #2192
I configured it and found that it didn't take effect. The time zone and time are wrong
kube-apiserver-extra-env: "TZ=Asia/Shanghai"
kube-scheduler-extra-env: "TZ=Asia/Shanghai"
![image](https://user-images.githubusercontent.com/88480631/147524697-2bd49e98-f4cc-4230-b816-b0b72b99952b.png)

[2021-12-28 03:26] zuocg commented on #2192
![image](https://user-images.githubusercontent.com/88480631/147524827-8f2e171b-4efa-4002-a774-d65f859b10c4.png)

[2021-12-28 03:42] zuocg commented on #2192
Effective service：
- cloud-controller-manager
- etcd
Inactive services：
- kube-apiserver
- kube-controller-manager
- kube-proxy
- kube-scheduler
![image](https://user-images.githubusercontent.com/88480631/147525692-3c3d0b3f-614d-4873-8fba-19b9e9bd3949.png)

[2021-12-28 05:51] zuocg opened #2315 "Kube container setting time zone does not take effect bug"
**Environmental Info:**
RKE2 Version: v1.22.5+rke2r1

Node(s) CPU architecture, OS, and Version:
OS: Centos7.9

Cluster Configuration:
3 servers, 2 agents

**Describe the bug:**
The Kube container does not have a /usr/share/zoneinfo folder, so the configuration of the environment variable TZ cannot take effect. The environment variable TZ and the time zone for mounting the /usr/share/zoneinfo dire

[2021-12-28 11:52] cheets opened #2316 "RKE2 process cpu usage grows 100 pp every 12 hours"
**Environmental Info:**
RKE2 Version:
v1.21.5+rke2r2

Node(s) CPU architecture, OS, and Version:
Host system is on VMware ESXi 7.0 Update 2
AMD Ryzen Threadripper 3970X 32-Core
128GB RAM
4TB NVME SSD

Kubernetes server(s) are
VMware virtual machine
12 vCPU, 16BG RAM, NVME SSD
Ubuntu 20.04.3 LTS
[code]

Cluster Configuration:
1 server, 1 cluster, 1 node

**Describe the bug:**
Every day at 12:00 and

[2021-12-30 14:55] wanshaoyuan opened #2317 "Rke2 cannot use insecure-registry"
version：rke2 version v1.22.5+rke2r1 (ce3e572376cbb1d8157f46e2ae29d7d7834067f1)

Harbor configuration using the port 80, not the TLS .rke2 configuration/etc/rancher/rke2 /registries.yaml is as follows:
[code]

Harbor address is 172.16.1.208

Rke2-server startup error：

[code]

[2021-12-30 16:30] rancher-max commented on #2309
Yeah we tend to test with default CIDRs in most cases. I agree, this is something we need to add to the CNI Test Plan for all our CNIs.

As we are growing our automation suite, this is something that I want to see as part of the nightly automation. @manuelbuil @Martin-Weiss I wonder, for the short term while we are building that, if this is something that we should add to our manual checks for eac

[2021-12-30 16:36] rancher-max commented on #570
Putting this into a future milestone. That future work, which is noted in the [Design Doc](https://github.com/k3s-io/k3s/issues/4271) as TBD, may not be done as part of the milestone I added, so I will let @cwayne18 adjust further as needed.

[2021-12-30 23:11] rancher-max commented on #2288
Validated using v1.23.1-rc1+rke2r1 following the same steps as noted in the issue

[2021-12-30 23:11] #2288 closed

[2021-12-30 23:11] rancher-max commented on #2293
Validated using v1.21.8+rke2r1

[2021-12-30 23:11] #2293 closed

[2021-12-30 23:12] rancher-max commented on #2294
Validated using v1.20.14+rke2r1

[2021-12-30 23:12] #2294 closed

[2022-01-02 17:47] majeinfo opened #2318 "Feature Gate PodSecurity not handled correctly"
**Environmental Info:**
rke2 version v1.22.5-rc2+rke2r1 (6f2632aaae172dda758813c1dc3c8928ba36682f)
go version go1.16.10b7

Node(s) CPU architecture, OS, and Version:
Linux ip-172-20-0-140 5.11.0-1022-aws #23~20.04.1-Ubuntu SMP Mon Nov 15 14:03:19 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
3 masters, 1 worker

**Describe the bug:**
I tried to active the PodSecurity admission co

[2022-01-02 23:45] brandond commented on #2318
You're adding things to the feature-gates flag but appear to be looking at the value of the enable-admission-plugins flag?

[2022-01-03 08:16] majeinfo commented on #2318
Quoting the official documentation :
"""
In v1.22, the PodSecurity feature gate is an Alpha feature and must be enabled in kube-apiserver in order to use the built-in admission plugin.

--feature-gates="...,PodSecurity=true"
"""

If I add this feature gate with rke2  v1.22.5-rc2+rke2r1, it activates the PodSecurityPolicy admission controller (as showed by "ps -edf | grep apiserver").
If I add this

[2022-01-03 17:42] #2207 closed

[2022-01-03 17:42] Oats87 commented on #2314
https://github.com/rancher/rke2-packaging/releases/tag/v1.22.5%2Brke2r1.stable.0

This was tagged and is now in the stable repo.
[code]

Please reopen if you are still having problems.

[2022-01-03 17:42] #2314 closed

[2022-01-03 19:39] brandond commented on #2318
Just to be more clear about what I was saying, adding things to the `--feature-gates` flag does not add anything to `--enable-admission-plugins`. Kubeadm may do that, but RKE2 does not. If you want to set both the `--feature-gates` and `--enable-admission-plugins` flags, you must do so yourself.

[2022-01-04 00:18] brandond commented on #2317
It looks like the harbor registry is redirecting you to `https://172.16.1.208/service/token?scope=repository%3Arancher%2Frke2-runtime%3Apull&service=harbor-registry` in order to obtain a token. Can you show the output of:

[code]

[2022-01-04 07:19] guangbochen commented on #2144
I think the challenging part is with either with `systemctl disable --now rke2-server` or any other similar command(e.g we tried to remove the token via https://github.com/harvester/harvester/pull/1566) it will not 100% guarantee the node will get deleted on the controller side due to the finalizers and the node will become not ready when `kubelet` is lost.

[2022-01-04 17:36] #2318 closed

[2022-01-05 15:52] #1189 closed

[2022-01-05 17:59] manuelbuil opened #2321 "Update calico to v3.21.2"
**Is your feature request related to a problem? Please describe.**

I would like to use the latest version of Calico

**Describe the solution you'd like**

I would like to use the latest version of Calico

**Describe alternatives you've considered**

Using older versions

**Additional context**

https://github.com/rancher/rke2-charts/pull/204

[2022-01-05 19:24] sigi4 commented on #2114
Hey,

@vadorovsky i tried it again with the version v.1.22.5+rke2r1.

Same issue, same behaviour.

Was there anything else which could affect my setup between the 1.21.x version which worked and all others?

I did validate that the requirement on firewall ports hasn't changed.

Any ideas how i can analyse this easier?

[2022-01-05 19:44] brandond commented on #2114
Is this bit concerning?

Seems like having the flow monitor maxed out might be bad, but I don't know enough about what role that plays?

[2022-01-05 21:31] nikolaishields commented on #2077
This issue is similar in nature to #2305 , and would be great if we can find a solution the works globally.

[2022-01-06 06:03] #634 closed

[2022-01-06 19:56] brandond opened #2323 "Use of --agent-token prevents additional servers from joining the cluster"
When the initial server is started with --agent-token, and this agent-only token does not match the server --token value, additional servers cannot join the cluster. This is due to the joining server incorrectly using the agent username, but the server token, when validating that the local configuration matches the existing server.

This affects the most recent round of releases, all the way back

[2022-01-07 08:06] n-guitar opened #2324 "(rke2-canal) Support for "IP_AUTODETECTION_METHOD" option"
**Is your feature request related to a problem? Please describe.**
There is an option that is not supported by "helm chert" in "rke2-canal" provisioned from rancher.

Specifically, "IP_AUTODETECTION_METHOD" is not included in "values.yaml and daemonset.yaml" as described below.

・projectcalico
https://projectcalico.docs.tigera.io/reference/node/configuration#ip-autodetection-methods

On my Linux m

[2022-01-07 13:09] slavonicsniper opened #2325 "Pod hostPort not exposed on a node after rke2 upgrade"
**Environmental Info:**
RKE2 Version:
rke2 version v1.21.6+rke2r1 (b915fc986e84582458af7131fe7f4e686f2af493)
go version go1.16.6b7

Node(s) CPU architecture, OS, and Version:
5.11.0-37-generic #41~20.04.2-Ubuntu x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
3 servers (control plane and worker role)
cni: cilium (kubeProxyReplacement: disabled)

**Describe the bug:**
When creating a pod wit

[2022-01-07 14:32] slavonicsniper opened #2326 "how to change pod/service CIDR on an already deployed cluster"
**Is your feature request related to a problem? Please describe.**
I tried to change the pod/service CIDR range on an already deployed cluster. After restarting the rke2-server, the range is changed but the whole cluster is broken as the pods with the old range were not recreated. Is it possible to do that via rke2?

**Describe the solution you'd like**
Be able to change the pod/service CIDR range

[2022-01-07 16:12] ekarlso commented on #2323
Is there any workaround for this?

[2022-01-07 16:21] brandond commented on #2323
Set the agent token to the same value as the token, or downgrade.

[2022-01-07 16:49] katran001 opened #2327 "Cut 1.23.2+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 1/12 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
-  1.23.2+rke2r1

_To release once have approval from QA:_
-  1.23.2+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [x] PJM: Dev and QA team to be notified of the incoming release

[2022-01-07 16:49] brandond commented on #2326
Changing CIDRs on an existing cluster is not well supported; you should decide on what CIDRs you will use before starting the cluster the first time. Addresses and blocks out of the CIDR ranges are allocated by Kubernetes as nodes and services are deployed, and there is no logic to automatically re-allocate them if the ranges change.

[2022-01-07 16:51] brandond commented on #2325
Is there anything in the kube-proxy pod logs? Are they properly created if you reboot the node after upgrading?

[2022-01-07 16:53] brandond commented on #2324
Would you be interested in submitting a PR to rke2-charts? https://github.com/rancher/rke2-charts/tree/main-source/packages

[2022-01-07 17:26] braunsonm opened #2619 "Regression: Tolerations in vSphere CPI are incorrect"
In the new version of the vSphere CPI released which is used in RKE2 1.21.7rke2r2, the tolerations are now wrong. They were correct in 1.21.5rke2r2.

In the new version of the chart the tolerations are:
[code]

The last two are the ones that matter on RKE2. These need to be:
[code]

In RKE2, upgrading from 1.21.5 to 1.21.7, these tolerations do **not** have labels. And additionally, the `etcd` key

[2022-01-07 18:06] katran001 opened #2328 "Cut 1.22.6+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 1/12 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
-  1.22.6+rke2r1

_To release once have approval from QA:_
-  1.22.6+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [x] PJM: Dev and QA team to be notified of the incoming release

[2022-01-07 18:12] katran001 opened #2329 "Cut 1.21.9+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 1/12 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
-  1.21.9+rke2r1

_To release once have approval from QA:_
-  1.21.9+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [x] PJM: Dev and QA team to be notified of the incoming release

[2022-01-07 18:15] katran001 opened #2330 "Cut 1.20.15+rke2r1"
**Summary:**
Task covering patch release work.

Dev Complete: 1/12 (Typically ~1 week prior to upstream release date)

**List of required releases:**

_To release as soon as able for QA:_
-  1.20.15+rke2r1

_To release once have approval from QA:_
-  1.20.15+rke2r1 (Never release on a Friday unless specified otherwise)

**Prep work:**
- [x] PJM: Dev and QA team to be notified of the incoming relea

[2022-01-08 04:22] n-guitar commented on #2324
Hi @brandond .
Thanks for contacting me.
yes. I'd like to submit a PR.

[2022-01-08 10:56] n-guitar commented on #2324
Hi @brandond .
I have submitting a PR to rke2-charts.
I have referred to other PR, but if there are any errors in the flow, please point them out.

[2022-01-09 00:00] #453 closed

[2022-01-09 00:00] #1187 closed

[2022-01-09 11:47] MrMYHuang opened #2335 "Some options of default config.yml don't work as expectation"
**Environmental Info:**
RKE2 Version:
rke2 version v1.22.5+rke2r1 (ce3e572376cbb1d8157f46e2ae29d7d7834067f1)
go version go1.16.10b7

Node(s) CPU architecture, OS, and Version:
Linux myhsp7 5.10.74.3-microsoft-standard-WSL2+ #2 SMP Sat Jan 8 01:17:54 CST 2022 x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
1 server

**Describe the bug:**
Some options, `node-ip, node-external-ip`, in the defa

[2022-01-09 18:00] #1215 closed

[2022-01-10 02:57] brandond commented on #2335
The file is `/etc/rancher/rke2/config.yaml` - note that the extension is .yaml, not .yml .

[2022-01-10 11:04] Martin-Weiss commented on #1247
Still relevant

[2022-01-10 11:14] Martin-Weiss commented on #2309
Based on the criticality of such an issue - I believe every version needs to be verified with non-default CIDR settings.
(also all tests should be done with hardened and cis 1.6 profile enabled deployments to ensure Pod Security Policies and Network Policies are effective). I would expect that "non hardened and default deployments" work well even in case testing most with hardened and secured depl

[2022-01-10 11:19] Martin-Weiss commented on #1237
unstale

[2022-01-10 11:22] MrMYHuang commented on #2335
Thank you. It works.

[2022-01-10 11:22] #2335 closed

[2022-01-10 15:07] slavonicsniper commented on #2325
@brandond

kube-proxy logs:

[code]

i guess that's fine.

reboot does not solve the issue.

[2022-01-10 16:52] cwayne18 opened #2337 "Add CI testing for Windows workloads"
We've missed a couple windows-related bugs with specific configurations in the past, so I think it's time to invest some cycles in adding more robust CI for Windows. Lots of times we can break Windows making what we'd consider un-related changes, so I don't think its tenable to just ask QA to test Windows while making windows-specific changes.

[2022-01-10 17:40] brandond commented on #2325
Can you show an example of a pod manifest that's not working for you? As far as I know, kube-proxy only sets up rules for services, not pods...

[2022-01-10 20:00] pgagarinov opened #2338 "Cluster suddenly broke, cluster reset fails"
**Environmental Info:**
RKE2 Version:

[code]
Node(s) CPU architecture, OS, and Version:

Rocky Linux 8.5, Intel.
[code]
Cluster Configuration:

3 server nodes, resetting the third one.

**Describe the bug:**

The cluster suddenly stopped responding, presumably after changing the hostname of the first node from `rk-rocky-r0.localdomain` to `rk-rocky-r0`. Cluster continued to function for a few min

[2022-01-10 21:53] brandond commented on #2338
Can you attach the complete rke2-server log, as well as the output of the cluster-reset command? While the bits you included are interesting, there's not always enough to indicate the full story as to what's causing the crash.

I suspect this may be related to https://github.com/k3s-io/k3s/issues/4870

[2022-01-10 22:02] pgagarinov commented on #2338
Output of rke server --reset-cluster: [https://github.com/rancher/rke2/files/7841561/out2.log]

Output of rke2-server log:

[2022-01-10 23:20] rancher-max commented on #2323
#### Validated in v1.20.14-rc1+rke2r2, v1.21.8-rc1+rke2r2, v1.22.5-rc1+rke2r2, and v1.23.1-rc1+rke2r1

- Can still use only `token` (don't need to pass agent-token)
- servers are required to have both the same token and agent-token values, and when supplying those they join successfully
[code]
[code]
- Validated can provision multi-server clusters in rancher (v1.21 and v1.22 only). Configuration:

[2022-01-10 23:20] #2323 closed

[2022-01-10 23:20] rancher-max commented on #2321
#### Validated using v1.23.1-rc1+rke2r2

- 2 daemonsets, `calico-node` and `calico-windows-upgrade`, using expected images: `docker.io/rancher/mirrored-calico-node:v3.21.2` and `docker.io/rancher/mirrored-calico-windows-upgrade:v3.21.2`
- 2 deployments,`calico-kube-controllers` and `calico-typha`, using expected images: `docker.io/rancher/mirrored-calico-kube-controllers:v3.21.2` and `docker.io/ra

[2022-01-10 23:20] #2321 closed

[2022-01-10 23:58] thebetterjort commented on #546
I'm running into this issue with rancher stable. I can hit my root domain, but when I try and hit subdomain we get too many redirects. Seems to happen with our nginx 1.14 load balancer, but all apps are deployed are working, its just rancher that gets too many redirects.

[2022-01-11 00:15] brandond commented on #546
@thebetterjort I would recommend searching for info or opening an issue in the rancher/rancher repo; RKE2 is a different beast entirely.

[2022-01-11 01:19] VestigeJ opened #2341 "[Release-1.20] etcd-snapshot loading config fails with "flag provided but not defined: -cluster-cidr""
**Environmental Info:**
RKE2 Version:

$ sudo rke2 -v

[code]
As well as present on
$ rke2 -v

[code]
Node(s) CPU architecture, OS, and Version:

$ uname -a
[code]
Cluster Configuration:

$ kubectl get nodes

[code]

$ kubectl get nodes

[code]
**Describe the bug:**

$ sudo rke2 --debug etcd-snapshot
[code]

**Steps To Reproduce:**

$ sudo cat /etc/rancher/rke2/config.yaml

[code]
- Installed RKE2

[2022-01-11 02:29] brandond commented on #2341
I suspect that this is because of the --debug flag being before the etcd-snapshot command. The config loader looks at the arg string and appends the config args after the first unrecognized argument; putting the --debug flag first would cause it to add the config flags before the subcommands, which isn't a valid place for them.

cc @dereknola

[2022-01-11 15:55] slavonicsniper commented on #2325
I use https://github.com/hashicorp/consul-k8s/blob/main/charts/consul/templates/server-statefulset.yaml. Probably you are right about kube-proxy not dealing with a pod but what changed then? The same pod manifest worked `v1.20.9+rke2r2`.

[2022-01-11 17:26] brandond commented on #2325
Are you just not seeing some iptables rule that you expect, or are you saying that hostPort ports aren't working at all?

[2022-01-11 17:54] manuelbuil opened #2342 "Enable dual-stack on canal cni"
**Is your feature request related to a problem? Please describe.**

Both flannel and "Calico_Canal" now support dual-stack: https://github.com/projectcalico/calico/pull/5313. RKE2 could activate that Canal feature when deploying in dual-stack mode

**Describe the solution you'd like**

Use a canal image that includes the dual-stack PR

**Describe alternatives you've considered**

Using another CNI

[2022-01-11 18:19] dereknola commented on #2341
That is correct, there are two things to note on your commands:
1) --debug is a flag and thus should be placed after any subcommand, i.e. after the `etcd-snapshot`. That would fix your issue.
2) Since you have `debug: true` in your `config.yaml` you don't need to include the --debug in the command at all.

That being said your issue has unearthed an undiscovered bug: `etcd-snapshot` is not correct

[2022-01-11 18:19] #2341 closed

[2022-01-11 18:26] dereknola opened #2343 "etcd-snapshot subcommand does not out debug logs even when `--debug` flag is provided"
**Environmental Info:**
RKE2 Version:

Master Branch

Node(s) CPU architecture, OS, and Version:

Single node

**Describe the bug:**

With a running rke2 server, calling `rke2 etcd-snapshot --debug` does not correctly output debug logs.

**Steps To Reproduce:**

- Installed RKE2:
- Run any cluster
- Attempt to save a snapshot with the `--debug` flag set in either CLI or config.yaml

**Expected beh

[2022-01-11 20:57] VestigeJ commented on #2309
Forgive the verbosity here. The overall flow here was to configure a 1 server / 1 agent cluster on ubuntu 20.04 using the config below. Upgrade through the patch releases on v1.20 to .12, .13, and .14+rke2.

* Confirmed custom CIDR working on v1.20.11+rke2r2
* Confirmed upgrading to v1.20.12+rke2r1 breaks the cluster health
* Confirmed upgrading through the NotReady cluster state to v1.20.13+rke2r

[2022-01-11 20:58] #2309 closed

[2022-01-11 21:10] sigi4 commented on #2114
The current/max flow thing appears to be okay. The Flows/s in my particular example was that high due to a connectivyt test in the background.

But today i might got a step closer.

My setup looks like this:
control-plane: 3 vps on hetzner in a 10.0.0.0/24 network
worker: 2 dedicated server on hetzner in a 10.0.1.0/24 network

When i use one of the control-plane vps as a worker, it just works out

[2022-01-12 00:50] #1220 closed

[2022-01-12 00:50] #1232 closed

[2022-01-12 12:26] guangbochen commented on #2144
quoted from https://github.com/harvester/harvester/issues/1497#issuecomment-1006488404:

So I guess this is more appropriately achieved either via RKE2 or CCM implementation ?

[2022-01-12 15:27] jossemargt-3pillar commented on #2077
All the required manual task for k8s 1.23 were documented on #2079 . [And this gist](https://gist.github.com/brandond/af1973d24613f1412ba3c7c88e73be0f#file-rke2-bump-golang-sh-L6-L11) summarizes the docker image updating and tagging process.

[2022-01-12 16:27] brandond commented on #2144
I replied on that issue. Would you prefer to keep the discussion there, or here?

[2022-01-12 17:15] cwayne18 commented on #877
While we have support for the tarball installation method, we should port the changes from the k3s installation script here to enable transactional updates.

[2022-01-12 21:30] dereknola opened #2345 "Windows Installer script output is not helpful if run as regular user"
**Environmental Info:**
RKE2 Version:

Master
Node(s) CPU architecture, OS, and Version:

Windows

**Describe the bug:**

Installing RKE2 on Windows requires running `install.ps1` as admin. If not run as admin the output is confusing and the what is wrong is not clear.

**Steps To Reproduce:**

Run the install.ps1 thru regular powershell

**Expected behavior:**

A clear message that powershell nee

[2022-01-12 22:25] sigi4 commented on #2114
I found the issue:

My dedicated worker node is connected through a vlan which has an MTU of 1400.

Cilium detects the MUT by checking out the primary interface which has a MTU of 1500.

This leads to the issue that packets just get droped. Changing the MTU on the primary interface to something smaller like 1300, restarting cilium fixes the issue.

i'm not sure why this detection changed in cilium

[2022-01-12 22:25] #2114 closed

[2022-01-14 00:10] brandond opened #2347 "Update packaged containerd and etcd"
* containerd 1.5.9 - fix (previously patched in our fork) for CVE: GHSA-mvff-h3cj-wj9c
* etcd 3.5.1 - fix for https://github.com/etcd-io/etcd/issues/13196

Requires K3s pull-through as well:
* https://github.com/k3s-io/k3s/issues/4940

[2022-01-14 00:12] brandond opened #2348 "[release-1.22] Update packaged containerd and etcd"
* containerd 1.5.9 - fix (previously patched in our fork) for CVE: GHSA-mvff-h3cj-wj9c
* etcd 3.5.1 - fix for https://github.com/etcd-io/etcd/issues/13196

Requires K3s pull-through as well:
* https://github.com/k3s-io/k3s/issues/4941

[2022-01-14 00:13] brandond opened #2349 "[release-1.21] Update packaged etcd"
* etcd 3.4.18 - multiple fixes

Requires K3s pull-through as well:
* https://github.com/k3s-io/k3s/issues/4942

[2022-01-14 00:13] brandond opened #2350 "[release-1.20] Update packaged etcd"
* etcd 3.4.18 - multiple fixes

Requires K3s pull-through as well:
* https://github.com/k3s-io/k3s/issues/4942

[2022-01-14 05:43] nikolaishields commented on #2305
After working on a prototype I discovered that there may be more image repositories that should be included in the list.
[code]

[2022-01-14 06:57] brandond commented on #2305
The authoritative list of build repos for RKE2 is at https://github.com/rancher/rke2/blob/master/developer-docs/image_sources.md - if you think you've found some that aren't on that page, please add them.

[2022-01-14 09:04] slavonicsniper commented on #2325
hostPort ports aren't working at all. When reading [this](https://docs.cilium.io/en/v1.8/gettingstarted/kubeproxy-free/#:~:text=Similarly%2C%20we%20can%20inspect%20through%20iptables%20in%20the%20host%20namespace%20that%20no%20iptables%20rule%20for%20the%20HostPort%20service%20is%20present%3A) it looks like there should be rules for a pod hostPort as well.

[2022-01-14 11:56] slavonicsniper commented on #2325
I use only this manifest at the moment where pod hostPort is used. How did you test it? Do you get anything from `iptables-save | grep HOSTPORT` after creating a pod with hostPort?

[2022-01-14 13:07] manuelbuil opened #2351 "[Release 1.22] Enable dual-stack on canal cni"
Backport: https://github.com/rancher/rke2/issues/2342

[2022-01-14 13:08] manuelbuil opened #2352 "[Release 1.21] Enable dual-stack on canal cni"
Backport: #2342

[2022-01-14 15:50] nikolaishields commented on #2305
Thanks @brandond, will do.

[2022-01-14 16:42] brandond commented on #2325
cc @manuelbuil - any ideas what might be going on here?

[2022-01-14 17:39] vadorovsky commented on #2325
The problem is that we disable eBPF kube-proxy replacement, which by default handles hostPort. But when the normal kube-proxy is used, Cilium should be chained with the portmap CNI plugins to be able to handle hostPort.

Upstream Helm charts allow to do that with:
https://docs.cilium.io/en/v1.10/gettingstarted/cni-chaining-portmap/

`--set cni.chainingMode=portmap` in Helm

But we don't expose tha

[2022-01-14 18:10] dereknola commented on #2343
/backport v1.22.6+rke2r1

[2022-01-14 18:10] rancherbot opened #2354 "[Backport release-1.22] etcd-snapshot subcommand does not out debug logs even when `--debug` flag is provided"
This is a backport issue for https://github.com/rancher/rke2/issues/2343, automatically created via rancherbot by @dereknola

Original issue description:

**Environmental Info:**
RKE2 Version:

Master Branch

Node(s) CPU architecture, OS, and Version:

Single node

**Describe the bug:**

With a running rke2 server, calling `rke2 etcd-snapshot --debug` does not correctly output debug logs.

**Steps

[2022-01-14 18:11] manuelbuil commented on #1883
Replaced by this new issue https://github.com/rancher/rke2/issues/2342

[2022-01-14 18:11] #1883 closed

[2022-01-14 18:11] dereknola commented on #2343
/backport v1.21.9+rke2r1

[2022-01-14 18:11] rancherbot opened #2355 "[Backport release-1.21] etcd-snapshot subcommand does not out debug logs even when `--debug` flag is provided"
This is a backport issue for https://github.com/rancher/rke2/issues/2343, automatically created via rancherbot by @dereknola

Original issue description:

**Environmental Info:**
RKE2 Version:

Master Branch

Node(s) CPU architecture, OS, and Version:

Single node

**Describe the bug:**

With a running rke2 server, calling `rke2 etcd-snapshot --debug` does not correctly output debug logs.

**Steps

[2022-01-14 18:11] dereknola commented on #2343
/backport v1.20.15+rke2r1

[2022-01-14 18:11] rancherbot opened #2356 "[Backport release-1.20] etcd-snapshot subcommand does not out debug logs even when `--debug` flag is provided"
This is a backport issue for https://github.com/rancher/rke2/issues/2343, automatically created via rancherbot by @dereknola

Original issue description:

**Environmental Info:**
RKE2 Version:

Master Branch

Node(s) CPU architecture, OS, and Version:

Single node

**Describe the bug:**

With a running rke2 server, calling `rke2 etcd-snapshot --debug` does not correctly output debug logs.

**Steps

[2022-01-14 19:07] manuelbuil commented on #2342
To test, please deploy rke2 using a dual-stack cidr and verify that pods get two ips, one ipv4 and one ipv6. If possible, also verify that you can ping across pods

[2022-01-14 19:13] dereknola commented on #2345
Closing this a the original issue was incorrect. This bug was caused by the user (me) and does not affect non-admin powershell.

[2022-01-14 19:13] #2345 closed

[2022-01-15 16:16] jayunit100 commented on #909
hey was looking at some stuff in this area - and  this is an interesting issue - in general, for rke2 do we apply default network policies according to a specification/where are the knobs for controlling them ?

[2022-01-15 16:18] jayunit100 commented on #909
cc @brandond ~ i guess you would know per the PSP stuff -  specifically i wanted to see if i could add more default PSPs and NetworkPolicies to RKE2 clusters

[2022-01-16 19:13] sherif84 opened #2360 "Vulnerabilities Scan results should be published per release and advisories on mitigation/fixes"
**Is your feature request related to a problem? Please describe.**
yes , rke2 releases show vulnerabilities when scanned manually , these vulnerabilities could be false positives or mitigated by other means however no docs are available with the release to explain what these vulnerabilities are and why they are ignored.

Also the "https://docs.rke2.io/" docs mention

examples :
scanning the source

[2022-01-17 12:38] nicomfer opened #2361 "Cluster stuck on server provisioning"
**Environmental Info:**
RKE2 Version:
[code]

**Node(s) CPU architecture, OS, and Version:**
[code]

**Cluster Configuration:**
[code]

**Describe the bug:**
Cluster is stuck on server provisioning. I'm using `cloud-provider-name: aws` running in AWS GovCloud region and being deployed using Custom Cluster on Rancher v2.6.3 and bootstraped via user-data. Server node is running with proper IAM profi

[2022-01-17 15:23] slavonicsniper commented on #2325
@manuelbuil

[code]

@vadorovsky thanks for your explanation. On `v1.20.9+rke2r2` (hostPort working fine), we did not set `--set cni.chainingMode=portmap` when deploying the cilium. Could you please let me know what component made sure that pod hostPort functionality worked? Should i understand it that back then it was not necessary to setup `--set cni.chainingMode=portmap` for the pod hostPort to

[2022-01-17 15:47] MattAxel opened #2362 "Windows pods with services cannot reach outside cluster network (Most of the times), Calico"
Pods with services cannot reach outside the cluster network. Standalone pods are working fine. On windows nodes ,calico.

**Environmental Info:**
RKE2 Version:
rke2.exe version v1.22.5+rke2r1 (ce3e572376cbb1d8157f46e2ae29d7d7834067f1)
go version go1.16.10b7

Node(s) CPU architecture, OS, and Version:
Caption                                  CSName        Version    BuildType           OSArchitectu

[2022-01-17 16:29] Mtze commented on #937
This would be very helpful!

[2022-01-17 22:19] manuelbuil commented on #937
This works already! https://docs.rke2.io/install/network_options/#dual-stack-configuration

[2022-01-17 22:19] #937 closed

[2022-01-17 23:39] vadorovsky commented on #2325
@slavonicsniper As a temporary workaround, you can create the `/var/lib/rancher/rke2/server/manifests/rke2-cilium-config.yaml` file with the following content:

[code]

And redeploy your cluster.

For the next releases for rke2, I will try to enable [Kubernetes Without kube-proxy](https://docs.cilium.io/en/v1.9/gettingstarted/kubeproxy-free/) and then hostPort should work by default on Cilium, wit

[2022-01-18 09:14] slavonicsniper commented on #2325
@vadorovsky I have already implemented a workaround (kubeProxyReplacement: probe) as we cannot redeploy the cluster. I was only curious how it worked before without defining `chainingMode: portmap` on cilium but if you cannot answer that, it's fine. Thanks for taking care of it anyway.

[2022-01-18 09:24] vadorovsky commented on #2325
Actually, no idea. From my understanding, hostPort shouldn't work without kubeProxyReplacement and without chainingMode on any Cilium version.

[2022-01-19 04:06] #1248 closed

[2022-01-19 08:52] #2306 closed

[2022-01-19 09:00] manuelbuil opened #2370 "Update canal to latest flannel and calico images"
**Is your feature request related to a problem? Please describe.**

Calico and flannel have new versions. We should move canal to them

**Describe the solution you'd like**

Use latest versions of canal and flannel

**Describe alternatives you've considered**

None

**Additional context**

[2022-01-19 09:09] brandond commented on #2316
Thanks for the report. Can you show the output of `top` or the like on one of the affected nodes? I'm curious which process in particular is using all the CPU.

[2022-01-19 09:11] brandond commented on #2316
Oh, I just saw this note:

It sounds like it was one of the Rancher 2.6.2 components consuming CPU, not RKE2 itself?

[2022-01-19 11:29] cheets commented on #2316
Looking through top it was the "rke2 server" process as stated above. Precisely at 12.00 it would jump from 100% to 200% and so on. I went through `kubectl top` but couldn't find any pod that would consume more cpu than normally. If you are referring to Rancher components is there something else I should have looked at? The same was with Rancher 2.6.1 and 2.6.2.

[2022-01-19 13:10] Mtze commented on #937
Thanks for the hint!

[2022-01-19 15:50] dgiebert commented on #2370
Btw this is the needed HelmChartConfig to get Wireguard to work:

[code]

Should I write a section and add it here: https://github.com/rancher/rke2/blob/master/docs/install/network_options.md

[2022-01-19 16:45] manuelbuil commented on #2370
That'd be nice! Under the `"Canal CNI plugin"` section. Please specify that this is a feature for v1.23 of rke2

[2022-01-19 20:20] brandond commented on #2316
Hmm, that's interesting. Did you also upgrade RKE2, or did you only upgrade the Rancher components?

[2022-01-19 20:41] rancher-max commented on #2193
This has been completed. See https://docs.rke2.io/install/install_options/server_config/

[2022-01-19 20:41] #2193 closed

[2022-01-19 21:45] rancher-max commented on #1713
I'm going to close this as it shouldn't affect us

[2022-01-19 21:45] #1713 closed

[2022-01-19 21:46] rancher-max commented on #1447
This has been validated as working on all of the latest releases

[2022-01-19 21:46] #1447 closed

[2022-01-19 23:18] ShylajaDevadiga commented on #2342
Validated on rke2 version v1.23.1-dev+571ca59a
[code]
- Pods have two ips, ipv4 and ipv6

[code]

- Ping across pods is successful

[code]

-  Validated basic networking functionality works as expected.
Calico image version
[code]

[2022-01-19 23:40] rancher-max commented on #2242
This is failing on master branch using commitid ``

Logs from `helm-install-rke2-cilium-hc52r` pod show:
[code]

[2022-01-20 09:38] bashofmann opened #2377 "Installation script broken on SLES"
**Environmental Info:**
RKE2 Version: Tested with 1.21 and 1.22

Node(s) CPU architecture, OS, and Version:  SLES15 SP2, Linux ip-172-31-9-203 5.3.18-24.86-default #1 SMP Tue Oct 5 06:52:50 UTC 2021 (c909dd5) x86_64 x86_64 x86_64 GNU/Linux

**Describe the bug:**
The change in https://github.com/rancher/rke2/pull/2366 broke the installation script on SLES. Tested on SLES15 SP2:

[code]

The previou

[2022-01-20 09:44] brandond commented on #2377
It's not broken, we just don't have any RPMs for SLES that have made it past the testing channel. This week's releases will be available for SLES. In the mean time you can select tarball installation:

[code]

cc @galal-hussein

[2022-01-20 11:09] vadorovsky commented on #2242
Cilium 1.11.1 is out:

https://github.com/cilium/cilium/releases/tag/v1.11.1

I will bump the version together with fixing the error reported by @rancher-max

[2022-01-20 11:11] liyimeng opened #2378 "Cgroupv2 only system"
Just quick a question. In docs/known_issues.md, it says Cgroupv2 is not support since rke2 use Containerd 1.3. Now it seems not the case anymore, I check the Dockerfile, it use 1.5.x.  Dose this mean cgroupv2 only system is well supported?

[2022-01-20 11:51] jurrien-suse commented on #2377
Is this also applicable for SLE Micro 5.1?

I see in the logging the script is going to the same URL when installing it on SLE Micro so my assumption is: yes.
I have a customer with the same issue right now.

[2022-01-20 12:13] cheets commented on #2316
I've upgraded the rke2 binary to v1.22.5+rke2r1 but the cluster is still 1.21. I tried to upgrade the cluster couple of times but it always failed so I restored a snapshot from before the cluster upgrade.

[2022-01-20 17:43] manuelbuil commented on #1996
Sorry for the delayed answer, I missed this :(. Here it goes:

For Cilium we need:
- 8472/udp (VXLAN)
- 4240/tcp (health-checks)
- ICMP 8/0 (health-cheks too)

For Calico:
- 179/tcp (if using BGP mode)
- 4789/udp (if using VXLAN mode)
- 5473/tcp (typha)

For Canal:
- 4789/udp (VXLAN mode)
- 51820/udp (Wireguard mode for ipv4)
- 51821/udp (Wireguard mode for ipv6 (dual-stack))

[2022-01-20 18:24] brandond commented on #2316
The RKE2 binary version effectively determines the cluster version; I'm not sure how you could have a 1.21 cluster when all the nodes are running 1.22. What do you get from `kubectl get nodes -o wide` ?

[2022-01-20 18:40] brandond commented on #2377
Install script change was reverted pending stable RPMs for SLES.

[2022-01-20 18:40] #2377 closed

[2022-01-20 19:11] cheets commented on #2316
`$ kubectl get nodes -o wide`

`$ kubectl version`

[2022-01-20 19:37] brandond commented on #2316
That's a very odd (and possibly broken) configuration; when RKE2 restarts it should automatically update all the components to the same version as the binary. Have you customized`--kube-apiserver-image` or any other settings that would be holding back the version of any of the cluster components?

[2022-01-20 19:44] dereknola commented on #2355
Merged in via https://github.com/rancher/rke2/pull/2369

[2022-01-20 19:45] dereknola commented on #2356
Merged in via https://github.com/rancher/rke2/pull/2369

[2022-01-20 19:49] dereknola commented on #2354
Merged in via https://github.com/rancher/rke2/pull/2367

[2022-01-20 20:30] jberger opened #2382 "Too many open files error on MicroOS"
**Environmental Info:**
RKE2 Version:
rke2 version v1.22.5+rke2r1 (ce3e572376cbb1d8157f46e2ae29d7d7834067f1)
go version go1.16.10b7

Node(s) CPU architecture, OS, and Version:
OpenSUSE MicroOS, recently installed and updated
Linux localhost 5.16.0-1-default #1 SMP PREEMPT Mon Jan 10 07:30:39 UTC 2022 (487d6b3) x86_64 x86_64 x86_64 GNU/Linux

Cluster Configuration:
single node

**Describe the bug:*

[2022-01-20 20:31] jberger commented on #2382
btw, I'm happy to post more information or even with someone if this sounds interesting.

[2022-01-20 20:47] brandond commented on #2382
It's probably just a default sysctl that needs to be raised:
[code]

[2022-01-20 20:56] bguzman-3pillar commented on #2370
RKE2 commit: d038f7d16353a7de031e1d64bec2a090f986cbcb
Once RKE2 is running, deploy this:
[code]
Get the output with the latest flannel and calico images:

`$ kubectl get all -A -o wide
`
[code]

`
$ kubectl describe daemonset -n kube-system rke2-canal
`
[code]

[2022-01-20 21:02] jberger commented on #2382
[code]
drat, thanks I'll bump that and see if it does the trick

[2022-01-20 21:06] jberger commented on #2382
I should note that I've checked and the Ubuntu system that I've been comparing to has `128` for instances and only `8192` for watches and is not suffering from this same problem, so I am very curious to see if this helps.

[2022-01-20 21:29] katran001 commented on #2079
we can close this out; the initial release of 1.23 is complete.

[2022-01-20 21:32] katran001 commented on #2144
@guangbochen is still investigating this issue with @dweomer. Will update/close this issue until further notice.

[2022-01-20 21:35] #1996 closed

[2022-01-20 21:36] #614 closed

[2022-01-20 21:37] VestigeJ commented on #2351
**Validated**

$ rke2 -v
[code]

$ cat /etc/rancher/rke2/config.yaml
[code]

$ kubectl get pod httpd-deployment-9cb66bdcb-gwzkv -o yaml | grep -w ip
[code]

$ kubectl exec -it dualstack-nodeport-deployment-74fd46798-v2d46 bash
[code]

$ kubectl describe pod -n kube-system rke2-canal-d2z4g | grep -i image
[code]

$ curl -v http://54.177.196.76:30097
[code]

No public ipv6 assigned in aws us-west-1

[2022-01-20 21:37] #2351 closed

[2022-01-21 07:55] ShylajaDevadiga commented on #2347
Validated containerd and etcd version on rke2 version v1.23.2-rc1+rke2r1
[code]

[2022-01-21 07:55] #2347 closed

[2022-01-21 08:11] cheets commented on #2316
No, it's just a "basic" Rancher+RKE2 installation. As said we have this configuration on multiple servers and all have behaved similarly. Only thing I can think of is that those are run on top of vmware and we have moved the images to different vmware servers. Meaning the IPs have changed and we've had to tune some settings. Could this be a reason that there's a leftover old IP preventing the upda

[2022-01-21 08:16] brandond commented on #2316
No... this is not something that I would expect to see. Unless you've specifically held back the images they should be of the same version as rke2 itself. Would it be possible for you to attach the output of `kubectl get node,pod -A -o yaml` from one of the clusters where the versions are out of sync?

[2022-01-21 08:46] cheets commented on #2316
`kubectl get node,pod -A -o yaml`

[node_pods_output.txt](https://github.com/rancher/rke2/files/7911690/node_pods_output.txt)

I've done some search-and-replace but otherwise it's unedited.

[2022-01-21 14:19] liyimeng commented on #2378
@brandond Thanks!

[2022-01-21 14:19] #2378 closed

[2022-01-21 15:27] jberger commented on #2382
A day later and while the follow log still works I notice that the number of "attempt"s on the autoscalar is still clocking up very quickly. Up to 2700 already. Again, possibly a red herring or unrelated bug but it does feel suspicious.

[2022-01-21 17:55] brandond commented on #2382
What do you see if you describe the pod associated with the autoscaler container? Why is it being restarted so many times?

[2022-01-21 17:58] jberger commented on #2382
[code]

[2022-01-21 18:11] brandond commented on #2382
Any clues in the pod logs as to why the health checks are failing?

[2022-01-21 18:35] liyimeng opened #2387 "Pod Security Standards?"
From k8s 1.22, Pod Security Standards is introduced to replace Pod Security Policies,  see https://kubernetes.io/docs/concepts/security/pod-security-standards/

Has rke2 v1.22, v1.23 adapt this change?

[2022-01-21 18:45] brandond commented on #2387
Anything available in upstream Kubernetes is available in RKE2. The CIS Benchmark for Kubernetes hasn't picked up on Pod Security Standards yet, so there's not anything built into our RKE2-specific hardening, which relies on the benchmark for guidance.

[2022-01-21 19:37] jberger commented on #2382
[code]

[2022-01-21 19:39] jberger commented on #2382
Though that doesn't look markedly different from the working ubuntu single-node:

[code]

[2022-01-21 20:51] brandond commented on #2382
Hmm, nothing visibly wrong with it. That's an odd one.

[2022-01-21 21:05] brandond commented on #2316
This is really weird. I see that kubelet, kube-proxy, and kube-scheduler are running 1.22, but kube-apiserver and kube-controller-manager are both still on 1.21. Can you tell me what you get from `grep -r image: /var/lib/rancher/rke2/agent/pod-manifests/` ? Can you also attach the log from `/var/lib/rancher/rke2/agent/logs/kubelet.log` ?

[2022-01-21 22:01] jberger commented on #2382
I still have to believe that this must stem at some level from the [unusual filesystems of MicroOS](https://en.opensuse.org/Portal:MicroOS/Design). Honestly I might not have even reported this to you (other than the most basic of questions) except that I know that Rancher is owned by SUSE now so maybe it would be of interest to you.

[2022-01-21 22:15] ShylajaDevadiga commented on #2342
Validated above on rke2 version v1.23.2-rc2+rke2r1